{% set title = "Developers - " %}
{% set ogtitle = "Developers" %}
{% set ogdesc = "Create your own Onani powered application." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}

{% extends "base.jinja2" %}

{% block content %}
<h1>Developers</h1><br>
<p>This will be fun.</p>
<h2>Comments</h2>
<h3>Create Comment</h3>

<form action="/api/comments/post">
<label for="apilabel">apikey</label>
  <input type="password" id="apiinput" name="apikey"><input type="submit" value="Autofill"><br>
<label for="apilabel">content</label>
  <input type="text" id="apiinput" name="content"><br>
<label for="apilabel">post_id*</label>
  <input type="number" id="apiinput" name="post_id"><br>
<label for="apilabel">replyto*</label>
  <input type="number" id="apiinput" name="replyto"><br><br>
  <input type="submit" value="Send Request">
</form>

<h4>Request</h4>
<p>balls</p>

<h4>Response</h4>
<p>balls</p>

{% endblock %}