{% set title = "{title} - ".format(title=post.title) %}
{% set ogtitle = "{title}".format(title=post.title, score=post.score, comments=post.comments.all()|length) %}
{% set ogimage = post.thumbnail("xlarge") %}

{% if post.description %}
    {% set ogdesc = post.description %}
{% else %}
    {% set ogdesc = "View on Onani." %}
{% endif %}

{% if post.score|int > 0 %}
    {% set score_icon = "👍" %}
{% elif post.score|int < 0 %}
    {% set score_icon = "👎" %}
{% else %}
    {% set score_icon = "🤜" %}
{% endif %}

{% set ogdesc = "{score} {score_icon} | {comments}💬\n{ogdesc}".format(score=post.score, score_icon=score_icon, comments=post.comments.all()|length, ogdesc=ogdesc) %}

{% extends "base.jinja2" %}

{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ post.thumbnail('xlarge') }}">
{% endblock %}

{% block bottom_scripts %}
<script type="module" src="/static/js/post.min.js"></script>
{% endblock %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/post_left_bar.jinja2" %}

<div id="content-container" data-post-id="{{ post.id }}">
    <div class="images-container">
        <div class="file-container">
            <a href="{{ post.url }}"><img class="main-image" src="{{ post.sample }}" title="{{ post.title }}"
                    alt="{{ post.title }}"></a>
        </div>
    </div>
    <div class="post-info-box">
        <div id="post-info-header">

            <div id="poster-container" style="background-color:{{ post.uploader.profile_colour }}">
                <img src="{{ post.uploader.get_avatar(size='xsmall') }}" alt="{{ post.uploader.username }}"
                    title="{{ post.uploader.username }}">
                <a href="/users/{{ post.uploader.id }}">{{ post.uploader.username }}</a>
            </div>

            <div id="voting-container">
                {% if not current_user.is_anonymous %}
                <div id="upvote-button"
                    class="fa-solid fa-thumbs-up clickable pop-out{% if current_user.has_upvoted(post) %} voted{% endif %}">
                </div>
                {% endif %}
                <div id="post-score-count"
                    class="{% if post.score < 0 %}negative{% elif post.score > 0 %}positive{% else %}neutral{% endif %}">
                    {{ post.score }}</div>
                {% if not current_user.is_anonymous %}
                <div id="downvote-button"
                    class="fa-solid fa-thumbs-down clickable pop-out{% if current_user.has_downvoted(post) %} voted{% endif %}">
                </div>
                {% endif %}
            </div>

        </div>

        <div id="post-info-body">
            <div id="description-container">
                {% if post.description %}
                {% set description = post.description %}
                {% set description_class = "" %}
                {% else %}
                {% set description = "Post has no description." %}
                {% set description_class = "system-text" %}
                {% endif %}
                <p class="{{ description_class }}">{{ description }}</p>
            </div>

        </div>
    </div>
    <div class="comments-box">
        <h1 id="comments-header">Comments</h1>
        {% if not current_user.is_anonymous %}
        <div class="post-comment-input-container">
            <textarea id="post-comment-input" placeholder="Type your comment here..."></textarea>
            <button id="post-comment-submit">Post</button>
        </div>
        {% endif %}
        <div id="comment-container">
            <h3>Loading Comments...</h3>
        </div>
        <div class="page-navigation">
            <a href="javascript:void(0)" class="fa-solid fa-chevron-left" id="comments-control-left"
                style="visibility:hidden;"></a>
            <span style="width:2em;height:1em;"></span>
            <a href="javascript:void(0)" class="fa-solid fa-chevron-right" id="comments-control-right"
                style="visibility:hidden;"></a>
        </div>
    </div>
</div>

{% endblock %}