{% set title = "News - " %}
{% set ogtitle = article.title %}
{% set ogdesc = "View this {type} on Onani".format(type=article.type.name.capitalize()) %}
{# {% set ogimage = "/static/android-chrome-512x512.png" %} #}

{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}

<div id="content-container">
    <div id="news-article-header">
        <h1 class="twemoji-format">{{ article.title }}</h1>
        <div class="date-format human-time">{{ article.created_at.isoformat() }}</div>
        <div>{{ article.type.name.capitalize() }} posted by <a href="/users/{{ article.author.id }}"
                alt="{{ article.author.username }}">{{ article.author.username }}</a></div>
    </div>
    <div id="news-article-body">
        <p class="twemoji-format markdown-format">{{ article.content }}</p>
    </div>
</div>

{% endblock %}