<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %} - Onani</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" name="viewport">
  <link href="/css/onani.style.min.css" rel="stylesheet">
  <link href="/favicon.ico" rel="icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div id="main">
    <!-- Navbar/header -->
    <header>
      <div class="navbar">
        <!-- logo -->
        <div id="logo" onclick="location.href='/'">Onani</div>
        <!-- Navbar links -->
        <a href="/">Posts</a>
        <a href="/collections">Collections</a>
        <a href="/upload">Upload</a>
        <!-- Search Box -->
        <div id="search-box">
          <form id="search-form">
            <input id="search-input" type="text" placeholder="Search" spellcheck="false" autocapitalize="off">
            <img src="/svg/search.svg" id="search-icon">
          </form>
        </div>
        <!-- User Profile Picture -->
        {% if current_user.is_authenticated %}
        <div id="user-pfp-container" onclick="location.href='/profile'">
          <img id="user-pfp" src="{{ current_user.settings.profile_pic }}" alt="{{ current_user.username }}">
        </div>
        {% else %}
        <a id="login-user-button" href="/login">Login</a>
        {% endif %}
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>