<!-- 
  @Author: Blakeando
  @Date:   2020-08-14 19:33:07
  @Last Modified by:   Blakeando
  @Last Modified time: 2020-08-24 00:52:51
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Onani</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" name="viewport">
  <link href="/css/onani.style.min.css" rel="stylesheet">
  <link href="/favicon.ico" rel="icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div id="main">
    <!-- Navbar/header -->
    <header>
      <div class="navbar">
        <!-- logo -->
        <div id="logo" onclick="location.href='/'">Onani</div>
        <!-- Navbar links -->
        <a href="/">Posts</a>
        <a href="/collections">Collections</a>
        <a href="/upload">Upload</a>
        <!-- Search Box -->
        <div id="search-box">
          <form id="search-form">
            <input id="search-input" type="text" placeholder="Search" spellcheck="false" autocapitalize="off">
            <img src="/svg/search.svg" id="search-icon">
          </form>
        </div>
        <!-- User Profile Picture -->
        <div id="user-pfp-container" onclick="location.href='/profile'">
          <img id="user-pfp" src="/image/looking.png" alt="Username">
        </div>
      </div>
    </header>
    <!-- Left pannel/Tags -->
    <div id="left-pannel">
      <h2>Tags</h2>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
      <li><a href="/" class="tag-list-item">azur lane 55k</a></li>
    </div>
    <!-- Chat -->
    <div id="chatbox">
      <!-- TODO #20 -->
    </div>
  </div>
</body>

</html>