<!-- 
  @Author: Blakeando
  @Date:   2020-08-14 19:33:07
  @Last Modified by:   Blakeando
  @Last Modified time: 2020-08-23 00:00:19
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Onani</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" name="viewport">
  <link href="/css/onani.style.css" rel="stylesheet">
  <link href="/favicon.ico" rel="icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div id="main">
    <!-- Navbar/header -->
    <header>
      <div class="navbar">
        <!-- logo -->
        <div id="logo" onclick="location.href='/'">Onani</div>
        <!-- Navbar links -->
        <a href="/">Monkey</a>
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a class="dropdown-item">Profile</a>
            <a class="dropdown-item">Favourites</a>
            <a class="dropdown-item">Logout</a>
          </div>
        </div>
        <!-- Search Box -->
        <div id="search-box">
          <img src="/svg/search.svg" id="search-icon">
          <input type="text" placeholder="Search">
        </div>
      </div>
    </header>
    <!-- Left pannel/Tags -->
    <div id="left-pannel">
      <h2>Tags</h2>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
      <li><a>azur lane 55k</a></li>
    </div>
  </div>
</body>

</html>