{% set title = "Error 500 - " %}
{% set ogtitle = "Error 500" %}
{% set ogdesc = "Something went wrong..." %}

{% extends "base.jinja2" %}

{% block content %}
<div id="error-container">
    <h1>Internal Server Error</h1>
    <img src="/static/image/missing_file.png">
    <p>
        {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
        Error Trace ID: <strong><a
                href="{{ url_for('admin.error_view', error_id=error.id) }}">{{ error.id }}</a></strong><br>
        {% else %}
        Error Trace ID: <strong>{{ error.id }}</strong><br>
        {% endif %}
        {% else %}
        Error Trace ID: <strong>{{ error.id }}</strong><br>
        {% endif %}
    </p>
</div>
{% endblock %}