/*
 * @Author: kapsikkum
 * @Date:   2020-08-14 21:37:59
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-03-22 19:40:42
*/


/* Colours */
:root {
  /* logo */
  --logo-colour-1: black;
  --logo-colour-2: red;

  /* UI */
  --ui-colour: red;
  --ui-colour-2: #cc2b2b;
  --ui-colour-3: #949494;
  --ui-colour-transparent: #3b010150;
  --ui-back-colour: black;
  --ui-box-shadow: #fd000033;
  --ui-item-hover: #252525;
  --ui-item-active: #1d1d1d;
  --ui-scrollbar-foreg: red;
  --ui-scrollbar-backg: black;
  --input-slider: #1d1d1d;
  --input-focus: #0f0f0f;

  /* Tag colours */
  --tag-banned: #ff000042;
  --tag-general: #d61212;
  --tag-artist: #CCCC00;
  --tag-circle: #12BBBB;
  --tag-character: #00AA12;
  --tag-copyright: #D100D1;
  --tag-meta: #B97B87;
}

/* All elements */
* {
  -webkit-font-smoothing: subpixel-antialiased;
  /* backface-visibility: hidden; */
  color: var(--ui-colour);
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--ui-scrollbar-foreg) var(--ui-scrollbar-backg);
  scrollbar-width: thin;
  /* transform: translateZ(0); */
}

html {
  background-color: var(--ui-back-colour);
}

/* Remove text decoration from 'a' elements */
a {
  text-decoration: none;
}

/* Colour of little h6 elements */
h6 {
  color: var(--ui-colour-3);
}

/* Body */
body {
  background-color: var(--ui-back-colour);
}

/* Input elements */
input {
  background-color: var(--ui-back-colour);
  border: 1px solid var(--ui-colour);
  border-radius: 0;
  text-align: center;
  text-decoration: none;
}

/* Button hover */
input[type=button]:hover, 
input[type=submit]:hover {
  background-color: var(--ui-item-hover);
}

/* Border bottom only on inputs */
input[type=text], 
input[type=email], 
input[type=password] {
  border: 0;
  border-bottom: 1px solid var(--ui-colour);
}

/* Border focus highlight */
input[type=text]:focus, 
input[type=email]:focus, 
input[type=password]:focus {
  background-color: var(--input-focus);
}

footer {
  bottom: -270px;
  display: flex;
  outline: 1px solid var(--ui-colour);
  position: absolute;
  width: 100%;
}

/* Navbar logo */
#logo {
  color: var(--ui-colour);
  cursor: pointer;
  display: inline-block;
  font-family: "Bloody";
  font-size: 36px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  background: -webkit-linear-gradient(90deg, var(--logo-colour-1) 0%, var(--logo-colour-2) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navigation bar */
header.navbar {
  display: flex;
  height: 65px;
  justify-content: left;
  margin-bottom: 25px;
  max-height: 65px;
  outline-offset: -1px;
  outline: 1px solid var(--ui-colour);
  text-align: left;
}

/* Links in the Navigation bar */
header.navbar a {
  align-self: center;
  color: var(--ui-colour);
  display: inline-flex;
  font-size: 16px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

/* The dropdown container */
div.dropdown {
  align-self: center;
  color: var(--ui-colour);
  display: inline-flex;
  font-size: 16px;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

/* Search box container */
div#search-box {
  align-self: center;
  display: inline-flex;
  font-size: 16px;
  margin-left: 15px;
  outline: 1px solid var(--ui-colour);
  padding: 11px 16px 11px 6px;
  width: min-content;
  height: 20px;
}

/* The search form */
form#search-form {
  display: inline-flex;
}

/* search icon svg */
#search-icon {
  cursor: pointer;
  transition: all 0.5s ease;
  width: 20px;
}

#search-icon:hover {
  transform: scale(1.1);
}

/* The input for the search box */
input#search-input {
  background-color: var(--ui-back-colour);
  border: 0;
  display: inline-flex;
  font-size: 16px;
  padding: 0px 15px 0px 15px;
  text-align: start;
  vertical-align: middle;
  width: 215px;
}

/* Tags bar */
div#left-panel {
  font-size: 16px;
  padding-left: 25px;
  position: absolute;
  width: 160px;
  word-break: break-all;
}

/* User pfp */
div#user-pfp-container {
  align-self: center;
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
  margin-right: 15px;
  max-height: 50px;
  max-width: 50px;
  outline: 1px solid var(--ui-colour);
}

img#user-pfp {
  max-width: 50px;
  object-fit: contain;
}

div.dropdown-content {
  animation: fadein 0.2s;
  background-color: var(--ui-back-colour);
  border: 1px solid var(--ui-colour);
  box-shadow: 0px 8px 16px 0px var(--ui-box-shadow);
  display: none;
  min-width: 50px;
  opacity: 100%;
  overflow: visible;
  position: absolute;
  right: 10px;
  top: 55px;
  z-index: 5;
}

div.dropdown-content a {
  color: var(--ui-colour);
  background-color: var(--ui-back-colour);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 6;
}

div.dropdown-content a:hover {
  background-color: var(--ui-item-hover);
}

div.dropdown:hover div.dropdown-content {
  display: block;
}

header.navbar a:hover, div.dropdown:hover button.dropbtn {
  background-color: var(--ui-item-hover);
  display: block;
}

/* News and chat */
div#right-panel {
  right: 0;
  /* margin-top: 30px; */
  padding-right: 25px;
  /* right: -390px; */
  position: absolute;
}

/* News box */
div#news-container {
  width: 350px;
  height: 200px;
  border: 1px solid var(--ui-colour);
  overflow-y: scroll;
}

/* News box items */
div#news-container li {
  padding: 3px;
  font-size: 1.2em;
  list-style-type: none;
}

/* News box links */
div#news-container li a {
  text-decoration: none;
}

/* Chatbox container */
div#chatbox {
  padding-top: 50px;
}

/* Chat box */
div#chat-container {
  border: 1px solid var(--ui-colour);
  height: 300px;
  width: 350px;
}

/* Message area */
div#chat-message-area {
  height: 265px;
  overflow-y: scroll;
  width: 100%;
  word-break: break-all;
}

/* Message area item aka message */
div#chat-message-area li {
  color: var(--ui-colour-2);
  padding: 5px;
  font-size: 1em;
  list-style-type: none;
  vertical-align: middle;
}

/* The message input box */
div#chat-message-input-container {
  display: flex;
  border-top: 1px solid var(--ui-colour);
  height: 35px;
  width: 100%;
}

/* The place where you enter text */
input#chat-box-textarea {
  border: 0px solid var(--ui-colour);
  display: inline-flex;
  font-size: 16px;
  padding: 0 15px 0 15px;
  text-align: start;
  vertical-align: middle;
  width: 82.5%;
  height: 95%;
}

/* Keep chat input as black when focused */
input#chat-box-textarea:focus {
  background-color: var(--ui-back-colour);
}

/* The send button */
i#chat-box-send {
  align-self:center;
  cursor: pointer;
}

/* Twemoji emojis */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

/* Register form container */
div.login-box form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* Login/register button group */
div#login-register-buttons {
  align-self: center;
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
  margin-right: 15px;
}

/* Login/register button */
a#login-user-button, 
a#register-user-button {
  cursor: pointer;
}

/* Tag list items */
div#left-panel li{
  list-style-type: none;
}

a.tag-list-item {
  text-decoration: none;
}

/* Colours */
a.tag-list-item.banned {
  color: var(--tag-banned);
  cursor: not-allowed;
}

a.tag-list-item.general {
  color: var(--tag-general);
}

a.tag-list-item.artist {
  color: var(--tag-artist);
}

a.tag-list-item.character {
  color: var(--tag-character);
}

a.tag-list-item.copyright {
  color: var(--tag-copyright);
}

a.tag-list-item.meta {
  color: var(--tag-meta);
}

/* Login box */
div.login-box {
  border: 1px solid var(--ui-colour);
  background-color: var(--ui-back-colour);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -65px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: content-box;
  display: flex;
  padding: 80px 80px 20px 80px;
}

/* Login Bloody H1 */
h1.login-bloody-header {
  flex-direction: column;
  font-family:'Bloody';
  font-size: 2.5em;
  left: 25%;
  margin-top: 30px;
  position: absolute;
  right: 25%;
  top: 0;
  user-select: none;
  background: -webkit-linear-gradient(90deg, var(--logo-colour-1) 0%, var(--logo-colour-2) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Input boxes */
input#username, 
input#password,
input#email,
input#confirm {
  display: flex;
  font-size: medium;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  width: 210px;
}

/* Submit button */
input#submit {
  cursor: pointer;
  display: inline-flex;
  margin: 5px;
  padding: 5px 10px 5px 10px;
}

/* Flask flash message */
div.flash-message {
  animation: fadein 0.5s;
  font-size: 1.7em;
  left: 0;
  margin-top: 10vh;
  position: absolute;
  right: 0;
  text-align: center;
  white-space: pre;
  font-size: 95%;
}

/* Profile/other stuff Container */
div#outlined-container {
  border: 1px solid var(--ui-colour);
  margin-left: 200px;
  margin-right: 400px;
  /* min-height: 80vh; */
}

/* Info container */
div#profile-info-container {
  border-bottom: 1px solid var(--ui-colour);
  height: 175px;
  transform: translateZ(0);
}

/* Profile picture container */
div#profile-picture-container {
  border: 1px solid var(--ui-colour);
  display: inline-block;
  margin: 10px;
  max-height: 150px;
  max-width: 150px;
  min-height: 150px;
  min-width: 150px;
}

/* User profile picture image */
img#profile-picture-image {
  max-width: 150px;
  max-height: 150px;
}

img#profile-picture-image.banned {
  filter: blur(6px);
}

/* User name */
h1#profile-username-header {
  display: inline-block;
  position: absolute;
  top: 50px;
  transform: translateZ(0);
}

h1#profile-username-header.banned {
  text-decoration: line-through;
}

/* User permission title */
h3#profile-user-role {
  display: inline-block;
  position: absolute;
  top: 100px;
  transform: translateZ(0);
}

/* Edit profile button */
button#profile-edit-button {
  background-color: var(--ui-back-colour);
  border: 1px solid var(--ui-colour);
  cursor: pointer;
  font-size: 1.1em;
  margin: 10px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Profile Tabs */
div.profile-tab-bar {
  background-color: var(--ui-back-colour);
  border: 1px solid var(--ui-colour);
  overflow: hidden;
}

/* Profile tab bar inside the tabs */
div.profile-tab-bar.sub {
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Tab buttons */
div.profile-tab-bar button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  float: left;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Tab button hover */
div.profile-tab-bar button:hover {
  background-color: var(--ui-item-hover);
}

/* Active colour for tab buttons */
div.profile-tab-bar button.active {
  background-color: var(--ui-item-active);
}

/* Tab content */
div.profile-tab-content {
  border-top: none;
  display: none;
  min-height: 100%;
  animation: fadein 0.5s;
}

p#profile-bio-textarea {
  white-space: pre-wrap;
  margin: 1%;
}

div.settings-input-group {
  border-top: 1px solid var(--ui-colour);
  padding: 15px;
}

div.settings-input-group input {
  display: block;
  margin-bottom: 5px;
  text-align: start;
}

div.settings-input-group label {
  display: block;
  /* margin-bottom: 5px; */
  padding: 5px;
}

div.settings-input-group input[type=text], 
div.settings-input-group input[type=email],
div.settings-input-group input[type=password],
div.settings-input-group input[type=file] {
  padding: 5px;
  /* width: 100%; */
}

input.profile-settings-submit {
  cursor: pointer;
  padding: 8px;
}

textarea#profile-settings-bio,
textarea#profile-settings-blacklist,
textarea#profile-settings-custom-css {
  background-color: var(--ui-back-colour);
  border: 1px solid var(--ui-colour);
  color: var(--ui-colour);
  max-width: 100%;
  padding: 5px;
  white-space: pre-wrap;
  /* width: 100%; */
}

#upload-image {
  display: none;
  float: left;
  height: 250px;
  padding-bottom: 50px;
  width: 100%;
}

#upload-image.ready{
  display: block;
}

input.cr-slider {
  background-color: var(--input-slider);
}

.column {
  float: left;
  width: 50%;
  display: grid;
}

.row {
  max-width: 1000px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row.uploader {
 flex: 1 1 30%;
 margin: 50px;
 min-width: max-content;
 width: fit-content;
}

.column.uploader {
  float: none;
  width: fit-content;
  display: grid;
}

div#profile-info-container i {
  display: inline-block;
  padding: 5px;
}

/* Post container */
div#posts-container {
  border: 1px solid var(--ui-colour);
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); */
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
  min-height: fit-content;
  min-width: 65vw;
  /* padding: 10px; */
  position: absolute;
  right: 0;
  width: fit-content;
  
}

div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  width: 100%;
}

/* Post thumbnail container */
div.post-thumbnail-container {
  border-bottom: 1px solid var(--ui-colour);
  display: grid;
  height: 150px;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  transition: transform 0.2s ease;
  width: 140px;
}

div.post-thumbnail-container:hover {
  transform: scale(1.1);
}

div.post-thumbnail-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  user-select: none;
}

/* Post Thumbnail */
img.post-thumbnail {
  align-self: center;
  display: flex;
  margin: auto;
  max-height: 150px;
  max-width: 150px;
  user-select: none;
}

/* Uploader box */
div#uploader-container {
  border: 1px solid var(--ui-colour);
  left: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-top: 50px;
  position: absolute;
  right: 0;
  width: fit-content;
  /* min-width: 80vw; */
}

/* uploader title */
div#uploader-container h1 {
  text-align: center;
  margin-bottom: -10px;
}

div#uploader-input-container {
  display: inline-block;
  margin-top: 50px;
}

/* The file input to select files */
input.uploader-input {
  margin-bottom: 15px;
  padding: 5px;
  text-align: left;
  width: 300px;
}

textarea.uploader-textarea {
  background-color: var(--ui-back-colour);
  border: 1px solid var(--ui-colour);
  height: 120px;
  margin-bottom: 15px;
  max-width: 300px;
  padding: 5px;
  text-align: left;
  width: 300px;
}

/* Labels for input */
label.uploader-label {
  display: inline-block;
  padding-right: 10px;
  width: 50px;
}

/* The upload button */
input#upload-button {
  display: inline-block;
  background-color: var(--ui-back-colour);
  border: 1px solid var(--ui-colour);
  cursor: pointer;
  font-size: 1.1em;
  padding: 3px;
  width: 100px;
  margin-top: 30px;
  margin-right: 30px;
}

/* preview image container */
div#preview-image-container {
  border: 1px solid var(--ui-colour);
  display: inline-block;
  /* margin: 0px 50px 160px 50px; */
  padding: 10px;
  min-width: 350px;
  min-height: 350px;
  max-width: 350px;
  max-height: min-content;
}

/* The preview image */
img#preview-image {
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  width: 350px;
  max-width: 350px;
}

select#rating {
  background-color: var(--back-colour);
  border: 1px solid var(--ui-colour);
  width: 120px;
}

/* Pagination */
.page-navigation {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  outline: 1px solid var(--ui-colour);
  padding: 5px;
}

/* Pagination link */
.page-navigation a {
  padding: 1px 5px 1px 5px;
  font-size: large;
}

.grid-container {
  display: grid;
  outline: none;
}

.grid-item {
  border: 1px solid var(--ui-colour);
  display: flex;
  max-height: 50px;
}

.grid-item img.pfp-list {
  width: 50px;
  border-right: 1px solid var(--ui-colour);
}

.grid-item a {
  align-self: center;
  padding-left: 10px;
}

/* Dirt's table thing */
table {
  border-collapse: collapse;
  padding: 50px 50px 50px 50px;
  width: 100%;
  empty-cells: show;
}

td,
th {
  border: 1px solid var(--ui-colour);
  text-align: left;
  padding: 8px;
}

th {
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: var(--ui-colour-transparent);
}

/* tr td:first-child,
tr th:first-child {
  width: 50px;
  white-space: nowrap;
} */

tr td.profile-picture-cell,
tr th.profile-picture-cell {
  width: 50px;
  white-space: nowrap;
  padding: 5px 5px 0px 5px;
}

tr td.profile-picture-cell img {
  width: 50px;
  height: 50px;
}

/* Main post Image */
.main-image {
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* FONTS */
/* Onani Logo Font */
@font-face {
  font-family: 'Bloody';
  src: 
    url('/static/fonts/Bloody.woff2') format('woff2'),
    url('/static/fonts/Bloody.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Interface Font */
@font-face {
  font-family: "MADEEvolveSans";
  src: 
    url("/static/fonts/MADEEvolveSansRegular.woff") format("woff"),
    url("/static/fonts/MADEEvolveSansRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Literally Consolas font */
@font-face {
  font-family: "Consolas";
  src: 
    url("/static/fonts/Consolas.woff") format("woff"),
    url("/static/fonts/Consolas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* ANIMATION */

/* Floating animation */
@keyframes float { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(-3px);} 
  10%, 30%, 50%, 70%, 90% {transform: translateY(3px);} 
}

/* Fade-in animation */
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

/* EXTRAS */
input::-webkit-input-placeholder{
  color: var(--ui-colour);
}

input:-moz-placeholder {
  color: var(--ui-colour);
}

textarea:focus, input:focus{
  outline: none;
}

/* Chromium based scrollbar */
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--ui-scrollbar-foreg);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--ui-scrollbar-backg);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Text selection colour */
::selection {
  color: var(--ui-back-colour);
  background: var(--ui-colour);
}
::-moz-selection {
  color: var(--ui-back-colour);
  background: var(--ui-colour);
}

::placeholder {
  opacity: 0.5;
}