{% set title = "Register - " %}
{% set ogtitle = "Register" %}
{% set ogdesc = "Get on Onani, not like there's any better site anyway." %}
{% extends "base.jinja2" %}

{% block content %}

<!-- Register box -->
<div class="login-box">
    <h1 class="login-header">Register</h1>
    <!-- Form -->
    <form action="/register/" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.username() }}
        {{ form.email() }}
        {{ form.password() }}
        {{ form.confirm() }}
        {{ form.recaptcha() }}
        {{ form.submit() }}
    </form>

    <script>
        const password = document.getElementById("password"),
            confirmPassword = document.getElementById("confirm-password");

        function validatePassword() {
            if (password.value != confirmPassword.value) {
                confirmPassword.setCustomValidity("Password doesn't match!");
            } else {
                confirmPassword.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirmPassword.onkeyup = validatePassword;
    </script>
    <div class="login-box-footer">
        <p>Already have an account? <b><a class="highlighted" href="/login/">Login</a></b></p>
        <p class="login-box-terms">By registering, you agree to our <b><a class="highlighted" href="/terms/">Terms of
                    Service</a></b> and <b><a class="highlighted" href="/privacy/">Privacy Policy</a></b>.</p>
    </div>
</div>

{% endblock %}