<div class="page-navigation">
  {% if pagination.has_prev %}
    <a class="fa-solid fa-chevron-left" href="{{ page_url }}?p={{ pagination.prev_num }}{{ extra_params }}"></a>
  {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page == pagination.page %}
        <a href="{{ page_url }}?p={{ page }}{{ extra_params }}" class="focused">{{ page }}</a>
      {% else %}
        <a href="{{ page_url }}?p={{ page }}{{ extra_params }}">{{ page }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
    <a class="fa-solid fa-chevron-right" href="{{ page_url }}?p={{ pagination.next_num }}{{ extra_params }}"></a>
  {% endif %}
</div>