<div id="left-panel">
    <!-- Tags Section -->
    <div class="side-container">
        <h2 class="title">Tags</h2>
        <ul id="tag-container">
            {% set sorted_tags = post.sorted_tags %}
            {% if sorted_tags|length == 0 %}
            No tags on this post.
            {% endif %}
            {% for t in sorted_tags %}
            <div class="tag-section">
                <h2>{{ t.name.capitalize() }}</h2>
                {% for tag in sorted_tags[t] %}
                <li class=" {{ tag.type.name.lower() }}" onclick="location.href='/posts/?tags={{ tag.name }}'"
                    title="{{ tag.description }}">
                    <p>{{ tag.humanized }}</p>
                </li>
                {% endfor %}
            </div>
            {% endfor %}
        </ul>
    </div>

    <!-- Info Section -->
    <div class="side-container">
        <h2 class="title">Info</h2>
        <ul class="tag-container">
            {# Date uploaded #}
            <div class="tag-section">
                <h4>Date Uploaded</h4>
                <li class="non-clickable">
                    <p class="date-format human-time">{{ post.uploaded_at.isoformat() }}</p>
                </li>
            </div>

            {# Status #}
            <div class="tag-section">
                <h4>Status</h4>
                <li class="non-clickable">
                    {{ post.status.name.capitalize() }}
                </li>
            </div>

            {# Rating #}
            <div class="tag-section">
                <h4>Rating</h4>
                <li class="non-clickable">
                    {{ post.rating.name.capitalize() }}
                </li>
            </div>

            {# Sources TODO: #115 #}
            <div class="tag-section">
                <h4>Source</h4>
                <li class="non-clickable" title="{{ post.source }}">
                    {% if post.source %}<a style="text-decoration:underline;" href="{{ post.source  }}"
                        target="_blank">{{ post.source_hostname }}</a>{% else %}No source
                    available.{% endif %}
                </li>
            </div>

            {# Dimensions #}
            <div class="tag-section">
                <h4>File Dimensions</h4>
                <li class="non-clickable">
                    {{ post.width }} x {{ post.height }}
                </li>
            </div>

            {# Filesize #}
            <div class="tag-section">
                <h4>Filesize</h4>
                <li class="non-clickable">
                    {{ humanize.naturalsize(post.filesize or 0) }}
                </li>
            </div>

            {# Filename #}
            <div class="tag-section">
                <h4>Original Filename</h4>
                <li class="non-clickable">
                    {{ post.original_filename }}
                </li>
            </div>

            {# Hashes #}
            <div class="tag-section">
                <h4>MD5 Hash</h4>
                <li class="non-clickable">
                    <code>{{ post.md5_hash }}</code>
                </li>
            </div>

            {# User Actions #}
            <div class="tag-section">
                <h4>Actions</h4>
                {% if not current_user.is_anonymous %}
                {% if current_user.can_edit_post(post) %}
                <li id="edit-mode-button">
                    Edit Post
                </li>
                {% endif %}
                {% endif %}
                <li>
                    Report Post
                </li>
            </div>

        </ul>
    </div>
</div>