<div id="left-panel">
  <div class="side-container">
    <h2 id="title">Tags</h2>
    <div id="tag-container">
      {% set sorted_tags = post.sorted_tags %}
      {% if sorted_tags|length == 0 %}
        No tags on this post.
      {% endif %}
      {% for t in sorted_tags %}
        <div class="tag-section">
          <h2>{{ t }}</h2>
          {% for tag in sorted_tags[t] %}
            <li class=" {{ tag.type.name.lower() }}" onclick="location.href='/posts/?tags={{ tag.name }}'">
              <a href="/posts/?tags={{ tag.name }}" class="tag-list-item">{{ tag.name }}</a>
            </li>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>