<div id="right-panel">

    <div class="side-container">
        <h2 class="title"><a href="/news/">News<a></h2>
        <ul id="news-container">
        </ul>
        <script type="module" src="/static/js/news.min.js"></script>
    </div>

</div>