<div id="right-panel">

  <div class="side-container">
    <div class="side-title">
      <i class="fa-solid fa-newspaper fa-2x" aria-hidden="true"></i>
      <h1>News</h1>
    </div>
    <div id="news-container">
    </div>
    <script src="/static/javascript/news-updater.min.js"></script>
  </div>

</div>