<div id="right-panel">

  <div class="side-container">
    <h2 class="title"><a href="/news/">News<a></h2>
    <div id="news-container">
    </div>
    <script src="/static/js/news-updater.min.js"></script>
  </div>

</div>