<div id="left-panel">
    <div class="side-container">
        <h2 class="title">Tags</h2>
        <ul id="tag-container">
        </ul>
    </div>
    <script type="module" src="/static/js/tags.min.js"></script>
</div>