<div id="left-panel">
    <div class="side-container">
        <h2 class="title">Tags</h2>
        <ul id="tag-container">
            {% for x in range(config["API_PER_PAGE_TAGS"]) %}
            <li>
                <p class="skeleton"></p>
            </li>
            {% endfor %}
            {# <div class="onani-loading"> </div> #}
        </ul>
    </div>
    <script type="module" src="/static/js/tags.min.js"></script>
</div>