/**
 * @Author: kapsikkum
 * @Date:   2022-03-23 13:21:42
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-06-16 13:07:10
 */
// Main Onani logo
#logo {
    cursor: pointer;
    display: inline-block;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    width: 6em;

    @include for-mobile-only {
        margin-left: 20px;
        margin-right: 20px;
    }

    @include for-tablet-portrait-only {
        margin-left: 20px;
        margin-right: 20px;
    }

    @include for-tablet-landscape-only {
        margin-left: 20px;
        margin-right: 20px;
    }
}

// Navbar on top of page
header.navbar {
    display: flex;
    height: 5.3125em;
    max-height: 5.3125em;
    justify-content: left;
    margin-bottom: 25px;
    text-align: left;

    div.mobile-sidebar-open {
        display: none;
        margin-left: auto;
        margin-right: 15px;
        margin-top: auto;
        margin-bottom: auto;
        padding: 14px 16px;

        @include for-mobile-only {
            display: block;
        }

        @include for-tablet-portrait-only {
            display: block;
        }

        @include for-tablet-landscape-only {
            display: block;
        }
    }

    div.login-register-buttons {
        align-self: center;
        cursor: pointer;
        display: inline-flex;
        margin-left: auto;
        margin-right: 15px;

        @include for-mobile-only {
            display: none;
        }

        @include for-tablet-portrait-only {
            display: none;
        }

        @include for-tablet-landscape-only {
            display: none;
        }

        &.sidenav-menu {
            position: absolute;
            bottom: 15px;
        }

        a {
            align-self: center;
            color: var(--ui-colour);
            display: inline-flex;
            font-size: 16px;
            padding: 14px 16px;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;

            &:hover {
                background-color: var(--ui-item-hover);
                display: block;
            }
        }
    }

    // User Profile card
    div.user-profile-card {
        align-self: center;
        margin-left: auto;
        padding: 1em;

        @include for-mobile-only {
            display: none;
        }

        @include for-tablet-portrait-only {
            display: none;
        }

        @include for-tablet-landscape-only {
            display: none;
        }

        div.user-container {
            background-color: var(--ui-foreground-header);
            display: flex;
            justify-content: space-around;
            padding: 3px;

            div {
                margin: 10px;
            }

            div.logout-button {
                margin-top: auto;
                margin-bottom: auto;
                cursor: pointer;
                width: 16px;
                min-width: 16px;
                max-width: 16px;
                min-height: 16px;
                background-color: #ffffff34;
                padding: 5px 10px 5px 10px;
                border-radius: 0.7em;
            }

            div.user-profile-link {
                cursor: pointer;
                margin-right: 100px;
            }

            // image inside the profile picture container
            img#user-pfp {
                width: 45px;
                height: 45px;
                margin-top: auto;
                margin-bottom: auto;
                padding: 5px;
            }
        }
    }

    div.site-links {
        @extend header,
        .navbar;

        @include for-mobile-only {
            display: none;
        }

        @include for-tablet-portrait-only {
            display: none;
        }

        @include for-tablet-landscape-only {
            display: none;
        }

        a {
            align-self: center;
            color: var(--ui-colour);
            display: inline-flex;
            font-size: 16px;
            padding: 14px 16px;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;

            &:hover {
                background-color: var(--ui-item-hover);
                display: block;
            }
        }
    }

    // Onani search box
    #search-box {
        position: relative;
        align-self: center;
        display: inline-flex;
        font-size: 16px;
        margin-left: 1em;
        background-color: var(--ui-foreground-1);
        padding: 11px 16px 11px 6px;
        width: min-content;

        // Magnifying glass icon
        #search-icon {
            cursor: pointer;
            width: 20px;
            margin-top: auto;
            margin-bottom: auto;
        }

        // Search box input
        .search-autocomplete {
            position: relative;
            display: inline-block;

            #search-input {
                background-color: var(--ui-foreground-1);
                border: 0;
                display: inline-flex;
                font-size: 16px;
                padding: 0 15px 0 15px;
                text-align: start;
                vertical-align: middle;
                width: 215px;
            }
        }


        @include for-mobile-only {
            display: none;
        }

        @include for-tablet-portrait-only {
            margin-left: auto;
            // margin-right: auto;
        }

        @include for-tablet-landscape-only {
            margin-left: auto;
            // margin-right: auto;
        }
    }
}


#side-navigation {
    background-color: var(--ui-foreground-header);
    border-radius: 15px 0 15px 15px;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.2s;
    width: 0;
    z-index: 5;
    padding-top: 60px;

    // a {
    //     background-color: var(--ui-foreground-1);
    //     color: var(--text-colour-1);
    //     display: block;
    //     font-size: 22px;
    //     margin: 10px;
    //     padding: 8px;
    //     text-decoration: none;
    //     transition: 0.3s;
    //     border-radius: 0.4em;
    // }

    a.close-button {
        background-color: unset;
        color: var(--text-colour-1);
        display: block;
        font-size: 36px;
        margin-left: 50px;
        margin: 0;
        padding: 8px;
        position: absolute;
        right: 25px;
        text-align: center;
        text-decoration: none;
        top: 0;
    }

    .link-container {
        overflow: auto;
        height: 70vh;

        a {
            background-color: var(--ui-foreground-1);
            color: var(--text-colour-1);
            display: block;
            font-size: 22px;
            margin: 10px;
            padding: 8px;
            text-decoration: none;
            transition: 0.3s;
            border-radius: 0.4em;
        }
    }


    div.login-register-buttons {
        @extend .link-container;
        overflow: unset;
        height: unset;
        
        bottom: 65px;
        margin-left: auto;
        position: absolute;
        width: 100%;
    }

    div.user-profile-card {
        bottom: 60px;
        position: absolute;
        width: 100%;

        div.user-container {
            background-color: var(--ui-foreground-header);
            display: flex;
            justify-content: space-around;
            padding: 5px;

            &.sidenav-menu {
                border-radius: 0;
            }

            div {
                margin: 10px;
            }

            div.logout-button {
                background-color: #ffffff34;
                border-radius: 0.7em;
                cursor: pointer;
                margin-bottom: auto;
                margin-top: auto;
                padding: 5px 10px 5px 10px;
            }

            div.user-profile-link {
                cursor: pointer;

                h5 {
                    font-size: 20px;
                }

                h6 {
                    font-size: 17px;
                }
            }

            // image inside the profile picture container
            img#user-pfp {
                width: 55px;
                height: 55px;
                margin-top: auto;
                margin-bottom: auto;
                // padding: 5px;
            }
        }
    }
}

div#content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;

    @include for-mobile-only {
        flex-direction: column;
        padding: 10px;
    }

    &.uploader {
        justify-content: space-evenly;

        @include for-mobile-only {
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
        }
    }
}

div#content-container {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: var(--ui-foreground-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    @include for-mobile-only {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }
}

// LEFT AND RIGHT PANELS
// Tag/left panel
div#left-panel {
    font-size: 16px;
    margin-left: 25px;
    width: 14em;
    min-width: 14em;
    word-break: break-all;

    @include for-mobile-only {
        order: 2;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    @include for-tablet-portrait-only {
        min-width: 6em;
    }

    #tag-container, .tag-container {
        background-color: var(--ui-foreground-2);
        padding: 10px;
        min-height: 6em;
        border-radius: 0 0 15px 15px;

        .tag-section {
            margin-bottom: 10px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-left: 5px;
        }

        li {
            background-color: var(--ui-foreground-1);
            padding: 3px 10px 3px 10px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            margin-top: 5px;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            cursor: pointer;
            user-select: none;

            @include for-mobile-only {
                padding: 10px;
                border-radius: 8px;
            }

            @include for-tablet-portrait-only {
                padding: 10px;
                border-radius: 8px;
            }

            &.non-clickable {
                cursor: unset;
            }

            &.banned {
                background-color: var(--tag-banned);
                cursor: not-allowed;

                a {
                    color: var(--tag-banned);
                    pointer-events: none;
                    cursor: not-allowed;
                }
            }

            &.general {
                background-color: var(--tag-general);
            }

            &.artist {
                background-color: var(--tag-artist);
            }

            &.character {
                background-color: var(--tag-character);
            }

            &.copyright {
                background-color: var(--tag-copyright);
            }

            &.meta {
                background-color: var(--tag-meta);
            }

            p {
                hyphens: auto;
                word-break: break-word;
            }

            div {
                white-space: nowrap;
                margin-left: 0.3em;
            }
        }
    }

    li {
        list-style-type: none;
    }
}

div#right-panel {
    right: 0;
    margin-right: 25px;
    min-width: 14em;
    width: 14em;

    @include for-mobile-only {
        display: none;
    }

    @include for-tablet-portrait-only {
        display: none;
    }

    @include for-tablet-landscape-only {
        display: none;
    }
}


.side-container {
    // padding: 10px;
    // background-color: var(--ui-foreground-1);
    margin-bottom: 1em;

    h2.title {
        padding: 10px;
        background-color: var(--ui-foreground-header);
        border-radius: 15px 15px 0 0;
    }

    .side-title {
        display: flex;
        background-color: var(--ui-foreground-header);
        border-radius: 15px 15px 0 0;

        i {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 15px;
            margin-left: 15px;
        }

        h1 {
            margin-top: auto;
            margin-bottom: auto;
            // size: 20em;
        }
    }

    #news-container {
        height: 18em;
        background-color: var(--ui-foreground-2);
        overflow-y: scroll;
        border-radius: 0 0 15px 15px;

        li {
            background-color: var(--ui-foreground-1);
            font-size: 1.2em;
            list-style-type: none;
            margin: 10px;
            padding: 10px;

            a {
                text-decoration: none;
            }

            h6 {
                color: var(--text-colour-2);
            }
        }
    }
}

.page-navigation {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 1em;
    flex-wrap: wrap;

    a {
        padding: 1px 5px 1px 5px;
        font-size: large;

        @include for-mobile-only {
            padding: 0.8em;
        }
    }

    a.focused {
        @extend a;
        text-decoration: underline;
        width: 20px;
        text-align: center;
        background-color: #ffffff27;
    }
}

#alert-container {
    border-radius: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 95vh;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    scroll-behavior: smooth;
    top: 1em;
    width: fit-content;
    z-index: 99;

    // No scrollbar
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .alert {
        padding: 20px;
        margin-bottom: 15px;
        min-width: 19em;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
        transition: opacity 100ms;

        &.success {
            background-color: var(--alert-success);
        }

        &.message {
            background-color: var(--alert-message);
        }

        &.warning {
            background-color: var(--alert-warning);
        }

        &.error {
            background-color: var(--alert-error);
        }

        .close-button {
            color: white;
            cursor: pointer;
            float: right;
            font-size: 22px;
            font-weight: bold;
            line-height: 20px;
            margin-left: 15px;
            transition: 0.3s;
            user-select: none;

            &:hover {
                color: var(--ui-item-hover);
            }
        }
    }
}




// // Dropdown content, used for users
// div.dropdown {
//     align-self: center;
//     color: var(--ui-colour);
//     display: inline-flex;
//     font-size: 16px;
//     max-height: 50px;
//     max-width: 50px;
//     min-height: 50px;
//     min-width: 50px;
//     text-align: center;
//     text-decoration: none;
//     vertical-align: middle;

//     &:hover {
//         div.dropdown-content {
//             display: block;
//         }

//         button.dropbtn {
//             background-color: var(--ui-item-hover);
//             display: block;
//         }
//     }
// }



// div.dropdown-content {
//     animation: fadein 0.2s;
//     background-color: var(--ui-back-colour);
//     box-shadow: 0 8px 16px 0 var(--ui-box-shadow);
//     display: none;
//     min-width: 50px;
//     opacity: 100%;
//     overflow: visible;
//     position: absolute;
//     right: 10px;
//     top: 55px;
//     z-index: 5;

//     a {
//         color: var(--ui-colour);
//         background-color: var(--ui-back-colour);
//         padding: 12px 16px;
//         text-decoration: none;
//         display: block;
//         position: relative;
//         z-index: 6;

//         &:hover {
//             background-color: var(--ui-item-hover);
//         }
//     }
// }
