/**
 * @Author: kapsikkum
 * @Date:   2022-03-22 23:04:06
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-05-31 13:02:29
 */

html {
    background-color: var(--ui-background-colour);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h6 {
    color: var(--ui-colour-3);
}

body {
    align-content: flex-start;
    align-items: stretch;
    background-color: var(--ui-background-colour);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

input {
    background-color: var(--ui-foreground-2);
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 0.4em;

    &::-webkit-input-placeholder {
        color: var(--ui-colour);
    }

    &:-moz-placeholder {
        color: var(--ui-colour);
    }

    &:focus {
        outline: none;
    }
}

input[type=button],
input[type=submit] {
    @extend input;

    &:hover {
        background-color: var(--ui-item-hover);
    }
}

input[type=text],
input[type=email],
input[type=password] {
    @extend input;
    border: 0;
    border-bottom: 1px solid var(--ui-colour);

    &:focus {
        background-color: var(--input-focus);
    }
}

footer {
    align-content: center;
    align-items: center;
    background-color: var(--ui-foreground-2);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    min-height: 60px;
    width: 100%;

    a{
        margin: 1em;
    }
}

textarea {
    border-radius: 0.4em;
    &:focus {
        outline: none;
    }
}

table {
    border-spacing: 0px 0px;
    width: 100%;
    empty-cells: show;
    table-layout: fixed;
    overflow-wrap: break-word;
    border: 2px solid var(--ui-border-colour);
    border-radius: 1em;
    overflow: hidden;

    // @include for-mobile-only {
    //     width: auto;
    // }
}

td {
    border-radius: 0;
    text-align: left;
    padding: 10px;

    &.no-data {
        h1 {
            text-align: center;
        }
    }

    @include for-mobile-only {
        padding: 5px;
        font-size: .85em;
        text-overflow: ellipsis;
    }
}


th {
    @extend td;
    font-weight: 700;
}

tr {
    &:nth-child(even) {
        background-color: var(--ui-foreground-1);
    }

    &:nth-child(odd) {
        background-color: var(--ui-foreground-2);
    }

    td.profile-picture-cell {
        width: 50px;
        white-space: nowrap;
        padding: 5px 5px 0px 5px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    th.profile-picture-cell {
        width: 50px;
        white-space: nowrap;
        padding: 5px 5px 0px 5px;
    }

    &.general {
        background-color: var(--tag-general);
    }

    &.artist {
        background-color: var(--tag-artist);
    }

    &.character {
        background-color: var(--tag-character);
    }

    &.copyright {
        background-color: var(--tag-copyright);
    }

    &.meta {
        background-color: var(--tag-meta);
    }

    // &:hover {
    //     background-color: var(--ui-item-hover);
    // }
}

code {
    padding: .2em;
    border-radius: 3px;
    font-size: 85%;
    font-family: 'Consolas';
    white-space: pre-wrap;
    background-color: var(--text-code-background);
}

pre {
    code {
        background: var(--text-code-background);
        border-radius: 4px;
        border: var(--ui-border-colour);
        color: var(--text-colour-3);
        display: block;
        font-family: 'Consolas';
        font-size: 0.85rem;
        line-height: 1.25rem;
        padding: .5em;
        white-space: pre-wrap;
    }
}