/**
 * @Author: kapsikkum
 * @Date:   2022-03-22 23:04:06
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-03-22 23:22:11
 */
* {
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--ui-colour);
    font-family: 'Jost', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--ui-scrollbar-foreg) var(--ui-scrollbar-backg);
    scrollbar-width: thin;
}

html {
    background-color: var(--ui-back-colour);
}

a {
    text-decoration: none;
}

h6 {
    color: var(--ui-colour-3);
}

body {
    background-color: var(--ui-back-colour);
}

input {
    background-color: var(--ui-back-colour);
    border: 1px solid var(--ui-colour);
    border-radius: 0;
    text-align: center;
    text-decoration: none;

    &::-webkit-input-placeholder {
        color: var(--ui-colour);
    }

    &:-moz-placeholder {
        color: var(--ui-colour);
    }

    &:focus {
        outline: none;
    }
}

input[type=button],
input[type=submit] {
    @extend input;

    &:hover {
        background-color: var(--ui-item-hover);
    }
}

input[type=text],
input[type=email],
input[type=password] {
    @extend input;
    border: 0;
    border-bottom: 1px solid var(--ui-colour);

    &:focus {
        background-color: var(--input-focus);
    }
}

footer {
    bottom: -270px;
    display: flex;
    outline: 1px solid var(--ui-colour);
    position: absolute;
    width: 100%;
}

textarea {
    &:focus {
        outline: none;
    }
}

table {
    border-collapse: collapse;
    padding: 50px 50px 50px 50px;
    width: 100%;
    empty-cells: show;
}

td {
    border: 1px solid var(--ui-colour);
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid var(--ui-colour);
    text-align: left;
    padding: 8px;
    font-weight: 700;
}

tr {
    &:nth-child(even) {
        background-color: var(--ui-colour-transparent);
    }

    td.profile-picture-cell {
        width: 50px;
        white-space: nowrap;
        padding: 5px 5px 0px 5px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    th.profile-picture-cell {
        width: 50px;
        white-space: nowrap;
        padding: 5px 5px 0px 5px;
    }
}