/**
 * @Author: kapsikkum
 * @Date:   2022-03-22 23:04:06
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-03-30 01:09:46
 */

html {
    background-color: var(--ui-background-colour);
    @include for-mobile-only {
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
}

h6 {
    color: var(--ui-colour-3);
}

body {
    align-content: flex-start;
    align-items: stretch;
    background-color: var(--ui-background-colour);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

input {
    background-color: var(--ui-foreground-2);
    border: none;
    text-align: center;
    text-decoration: none;

    &::-webkit-input-placeholder {
        color: var(--ui-colour);
    }

    &:-moz-placeholder {
        color: var(--ui-colour);
    }

    &:focus {
        outline: none;
    }
}

input[type=button],
input[type=submit] {
    @extend input;

    &:hover {
        background-color: var(--ui-item-hover);
    }
}

input[type=text],
input[type=email],
input[type=password] {
    @extend input;
    border: 0;
    border-bottom: 1px solid var(--ui-colour);

    &:focus {
        background-color: var(--input-focus);
    }
}

footer {
    align-content: center;
    align-items: center;
    background-color: var(--ui-foreground-2);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: center;
    margin-top: 50px;
    width: 100%;

    a{
        margin: 5px;
    }
}

textarea {
    &:focus {
        outline: none;
    }
}

table {
    border-spacing: 0px 0px;
    padding: 20px;
    width: 100%;
    empty-cells: show;

    @include for-mobile-only {
        padding: 5px;
    }
}

td {
    border: 1px solid var(--ui-border-colour);
    border-radius: 0;
    text-align: left;
    padding: 10px;

    @include for-mobile-only {
        padding: 1px;
        text-align: center;
        text-overflow: ellipsis;
    }

    &:first-child {
        border-left: 1px solid var(--ui-border-colour);
        border-radius: 15px 0px 0px 15px;
    }

    &:last-child {
        border-right: 1px solid var(--ui-border-colour);
        border-radius: 0px 15px 15px 0px;
    }
}


th {
    @extend td;
    font-weight: 700;
    @include for-mobile-only {
        padding: 5px;
    }
}

tr {
    td.profile-picture-cell {
        width: 50px;
        white-space: nowrap;
        padding: 5px 5px 0px 5px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    th.profile-picture-cell {
        width: 50px;
        white-space: nowrap;
        padding: 5px 5px 0px 5px;
    }
}
