/**
 * @Author: kapsikkum
 * @Date:   2022-03-22 22:47:07
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-06-01 11:59:51
 */


// Title and Interface Font
@import url('https://fonts.googleapis.com/css2?family=Tomorrow&family=Lato&display=swap');

// Old fonts
@font-face {
    font-family: 'Bloody';
    src: url('/static/fonts/Bloody.woff2') format('woff2'), url('/static/fonts/Bloody.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Consolas";
    src: url("/static/fonts/Consolas.woff") format("woff"), url("/static/fonts/Consolas.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
