/*
 * @Author: kapsikkum
 * @Date:   2020-08-14 21:37:59
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-05-31 14:38:36
*/
@import "mixins";

@import "animations";
@import "base";
@import "colours";
@import "elements";
@import "external/icomoon";
@import "external/slick";
@import "fonts";
@import "routes/all";
@import "routes/news";
@import "routes/posts";
@import "routes/upload";
@import "routes/users";
@import "routes/dmca";
@import "routes/index";

* {
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--text-colour-1);
    font-family: 'Tajawal', sans-serif;
    // font-weight: 100;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--ui-foreground-header) var(--ui-background-colour);
    scrollbar-width: thin;
    border-radius: 1em;
}

[class*="cm-"],
[class*="CodeMirror"] {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--ui-foreground-header);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--ui-background-colour);
    -webkit-box-shadow: inset 0 0 6px var(--ui-background-colour);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::selection {
    color: var(--ui-background-colour);
    background: var(--text-colour-1);
}

::-moz-selection {
    @extend ::selection;
}

::placeholder {
    opacity: 0.4;
}