{% set title = "DMCA - " %}
{% set ogtitle = "DMCA" %}
{% set ogdesc = "Someone is infringing your rights? We're here to help." %}
{# {% set ogimage = "/static/android-chrome-512x512.png" %} #}

{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}

<div id="content-container">
    <div id="article-header">
        <h1 class="twemoji-format">Our Copyright Policy</h1>
        <div class="human-time">This document was last updated on June 10, 2022</div>
    </div>
    <div id="article-body">
        <p class="twemoji-format markdown-format">
            <h1 id="dmca-policy">DMCA policy</h1>
            <p>This Digital Millennium Copyright Act Policy (“Policy”) applies to the onani.xyz website (“Website”
                or
                “Service”) and any of its related products and services (collectively, “Services”) and outlines how
                this
                Website operator (“Operator”, “we”, “us” or “our”) addresses copyright infringement notifications
                and
                how you (“you” or “your”) may submit a copyright infringement complaint.</p>
            <p>While Onani is not based in the United States the protection of intellectual property is of utmost
                importance to us so we have chosen to abide by DMCA.</p>
            <p>It is our policy to expeditiously respond to clear notifications of alleged copyright infringement
                that
                comply with the United States Digital Millennium Copyright Act (“DMCA”) of 1998, the text of which
                can
                be found on the U.S. Copyright Office website. </p>
            <h1 id="what-to-consider-before-submitting-a-copyright-complaint">What to consider before submitting a
                copyright complaint</h1>
            <p>Before submitting a copyright complaint to us, consider whether the use could be considered fair use.
                Fair use states that brief excerpts of copyrighted material may, under certain circumstances, be
                quoted
                verbatim for purposes such as criticism, news reporting, teaching, and research, without the need
                for
                permission from or payment to the copyright holder. If you have considered fair use, and you still
                wish
                to continue with a copyright complaint, you may want to first reach out to the user in question to
                see
                if you can resolve the matter directly with the user.</p>
            <p>Please note that if you are unsure whether the material you are reporting is infringing, you may wish
                to
                contact an attorney before filing a notification with us.</p>
            <p>We may, at our discretion or as required by law, share a redacted copy of your notification or
                counter-notification with third parties such as Lumen Database. If you are concerned about your
                information being forwarded, you may wish to use an agent to report infringing material for you.</p>
            <h1 id="notifications-of-infringement">Notifications of infringement</h1>
            <p>Filing a DMCA complaint is the start of a pre-defined legal process. Your complaint will be reviewed
                for
                accuracy, validity, and completeness. Our response may include the removal or restriction of access
                to
                allegedly infringing material as well as a permanent termination of repeat infringers’ accounts.</p>
            <p>If we remove or restrict access to materials or terminate an account in response to a notification of
                alleged infringement, we will make a good faith effort to contact the affected user with information
                concerning the removal or restriction of access, which may include a full copy of your Notification
                (including your name, address, phone, and email address), along with instructions for filing a
                counter-notification.</p>
            <h1 id="changes-and-amendments">Changes and amendments</h1>
            <p>We reserve the right to modify this Policy or its terms related to the Website and Services at any
                time
                at our discretion. When we do, we will revise the updated date at the bottom of this page. We may
                also
                provide notice to you in other ways at our discretion, such as through the contact information you
                have
                provided.</p>
            <p>An updated version of this Policy will be effective immediately upon the posting of the revised
                Policy
                unless otherwise specified. Your continued use of the Website and Services after the effective date
                of
                the revised Policy (or such other act specified at that time) will constitute your consent to those
                changes.</p>
            <p>Reporting copyright infringement
                If you would like to notify us of the infringing material or activity, we encourage you to contact
                us
                at dmca [at] onani [dot] xyz</p>
    </div>
</div>

{% endblock %}