{% set title = "Upload - " %}
{% set ogtitle = "Upload" %}
{% set ogdesc = "Upload a new post." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}
{% extends "base.jinja2" %}

{% block top_scripts %}
<!-- CryptoJS for MD5 checking-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/md5.min.js" integrity="sha512-3sGbaDyhjGb+yxqvJKi/gl5zL4J7P5Yh4GXzq+E9puzlmVkIctjf4yP6LfijOUvtoBI3p9pLKia9crHsgYDTUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/enc-base64.min.js" integrity="sha512-IKpu1GFk/bQ+2fOc4sXuA6lm7Rct4P7611iDBxY9LReOZ2PpwoDWWqj6GSYejUce1FLxo/d4lxAnKqGWJuBw7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% set content_class = "uploader" %}
{% block content %}
<div class="uploader-container">
  <form id="uploader-form" action="/upload/" method="POST" enctype="multipart/form-data">
    <div id="uploader-title-bar">
      <div id="left-button" class="fa-solid fa-chevron-left" style="visibility:hidden;" title="Previous"></div>
      <h1 id="uploader-title-text">Select Media Method</h1>
      <div id="right-button" class="fa-solid fa-chevron-right" title="Next"></div>
      <div id="upload-button" class="fa-solid fa-upload" style="display:none;" title="Upload"></div>
    </div>
    {{ form.csrf_token }}
    <div class="uploader-panel" data-slide-title="Select Media Method" data-slide-name="files">
      <div class="uploader-input-group">
        {{ form.files.label }}
        {{ form.files() }}
      </div>
      <h3><span>OR</span></h3>
      <div class="uploader-input-group">
        <label for="post-importer-input">Import Post</label>
        <input type="text" placeholder="Booru/Twitter/etc link..." id="post-importer-input" class="uploader-input">
        <button type="button" id="import-post-button">Import</button>
      </div>
    </div>
    <div class="uploader-panel" data-slide-title="Select Tags"  data-slide-name="tags" style="display:none;">
      <div class="uploader-input-group">
        {{ form.tags.label }}
        {{ form.tags() }}
      </div>
    </div>
    <div class="uploader-panel" data-slide-title="Other Information"  data-slide-name="other" style="display:none;">
      <div class="uploader-input-group">
        {{ form.source.label }}
        {{ form.source() }}
      </div>
      <div class="uploader-input-group">
        {{ form.description.label }}
        {{ form.description() }}
      </div>
      <div class="uploader-input-group">
        {{ form.rating.label }}
        {{ form.rating() }}
      </div>
      <div class="uploader-input-group">
        {{ form.recaptcha() }}
      </div>
    </div>
  </form>
</div>
<div class="uploader-container preview-image-block">
  <div id="preview-image-container">
    <div id="preview-image">
    </div>
    <div class="image-controls">
      <div id="left-button-image" class="fa-solid fa-chevron-left clickable" title="Previous image"></div>
      <p id="image-count"></p>
      <div id="right-button-image" class="fa-solid fa-chevron-right clickable" title="Next image"></div>
    </div>
  </div>
</div>
<script type="module" src="/static/js/uploader.min.js"></script>
{% include "elements/form_errors.jinja2" %}
{% endblock %}