/**
 * @Author: kapsikkum
 * @Date:   2022-03-22 23:06:35
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-04-08 03:26:58
 */

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.2em;
}

div.login-box {
    background-color: var(--ui-foreground-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: content-box;
    display: flex;
    padding: 80px 80px 20px 80px;

    form {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    
        input#username,
        input#password,
        input#email,
        input#confirm {
            display: flex;
            font-size: medium;
            margin: 5px;
            padding: 5px 10px 5px 10px;
            text-align: center;
            width: 210px;
            @include for-mobile-only {
                margin: 10px;
                padding: 15px;
            }
        }

        input#submit {
            cursor: pointer;
            display: inline-flex;
            margin: 5px;
            padding: 13px;
        }
    }

    // @include for-mobile-only {
    //     height: 30vh;
    //     padding: 20px;
    //     padding-top: 60px;
    // }
}

a.tag-list-item {
    text-decoration: none;
}

h1.login-header {
    flex-direction: column;
    font-family: 'Megrim', cursive;
    font-size: 2.5em;
    left: 25%;
    margin-top: 30px;
    position: absolute;
    right: 25%;
    top: 0;
    user-select: none;
    background: -webkit-linear-gradient(90deg, var(--text-logo-colour-1) 0%, var(--text-logo-colour-2) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
}

.page-navigation {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    outline: 1px solid var(--ui-colour);
    padding: 5px;

    a {
        padding: 1px 5px 1px 5px;
        font-size: large;

        @include for-mobile-only {
            padding: 15px;
        }
    }

    a.focused {
        @extend a;
        text-decoration: underline;
        width: 20px;
        text-align: center;
        background-color: #ffffff27;
    }
}

.grid-container {
    display: grid;
    outline: none;
}

.grid-item {
    border: 1px solid var(--ui-colour);
    display: flex;
    max-height: 50px;

    img.pfp-list {
        width: 50px;
        border-right: 1px solid var(--ui-colour);
    }

    a {
        align-self: center;
        padding-left: 10px;
    }
}
