/**
 * @Author: kapsikkum
 * @Date:   2022-03-22 23:06:35
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-04-12 16:54:15
 */

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.2em;
}

.login-box {
    background-color: var(--ui-foreground-1);
    position: absolute;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    box-sizing: content-box;
    display: flex;
    padding: 3em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;

    @include for-mobile-only {
        top: initial;
        left: initial;
        transform: initial;
        padding: 1em;
    }

    h1.login-header {
        flex-direction: column;
        font-family: 'Tomorrow', sans-serif;
        font-size: 2em;
        left: 25%;
        margin-bottom: 1em;
        right: 25%;
        top: 0;
        user-select: none;
    }

    form {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        .g-recaptcha {
            border-radius: 0;
        }
    
        input#username,
        input#password,
        input#email,
        input#confirm {
            display: flex;
            font-size: medium;
            margin: 5px;
            padding: 5px 10px 5px 10px;
            text-align: center;
            width: 210px;
            @include for-mobile-only {
                margin: 10px;
                padding: 15px;
            }
        }

        input#submit {
            cursor: pointer;
            display: inline-flex;
            margin: 5px;
            padding: 13px;
        }
    }

    // @include for-mobile-only {
    //     height: 30vh;
    //     padding: 1.25em;
    //     padding-top: 60px;
    // }
}

a.tag-list-item {
    text-decoration: none;
}

.grid-container {
    display: grid;
    outline: none;
}

.grid-item {
    border: 1px solid var(--ui-colour);
    display: flex;
    max-height: 50px;

    img.pfp-list {
        width: 50px;
        border-right: 1px solid var(--ui-colour);
    }

    a {
        align-self: center;
        padding-left: 10px;
    }
}
