/**
 * @Author: dirt3009
 * @Date:   2022-06-23 21:34:20
 * @Last Modified by:   dirt3009
 * @Last Modified time: 2022-06-23 22:11:25
 */

.collection-content {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.collection-info-box {
    margin-bottom: 1em;

    .collection-info-box-header {
        padding: 10px;
        background-color: var(--ui-foreground-header);
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        h2 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            i {
                margin-right: 0.4em;
            }
        }

        a {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: nowrap;

            i {
                margin-left: 0.5em;
                margin-right: 0.3em;
            }
        }
    }

    .collection-info {
        background-color: var(--ui-foreground-2);
        padding: 10px;
        min-height: 10em;
    }
}

.collection-posts {
    margin-right: unset !important;
    margin-left: unset !important;
    width: unset !important;
}
