/**
 * @Author: kapsikkum
 * @Date:   2022-06-15 13:42:41
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-08-06 11:53:02
 */

#error-container {
    @extend .login-box;

    max-width: 25em;
    width: 25em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

    @include for-mobile-only {
        width: 80vw;
    }

    img {
        width: 25em;
        max-height: 25em;
        margin: auto;
        border-radius: 1em;
    
        @include for-mobile-only {
            width: 70vw;
        }
    }

    h1 {
        font-weight: 200;
        margin: 1em;
    }

    p {
        margin: 1em 5em;
        font-size: 1.3rem;

        @include for-mobile-only {
            margin: 1em 1em;
            font-size: 1rem;
        }
    }

}
