/**
 * @Author: kapsikkum
 * @Date:   2022-04-12 18:00:57
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-04-12 18:35:09
 */
#news-article-header {
    padding: 1em;
    background-color: var(--ui-foreground-header);
    border-radius: 1em 1em 1em 1em;
    
    div {
        color: var(--text-colour-3);
    }
}

#news-article-body {
    background-color: var(--ui-foreground-2);
    white-space: pre-wrap;
    padding: 0.5em;
    margin: 1em;
    min-height: 10em;
}
