/**
 * @Author: dirt3009
 * @Date:   2022-06-14 21:19:23
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-06-15 08:54:12
 */
#roleplay-box {
    background-color: rgba(108, 229, 255, 0.2);;
    height: 10em;
}

#roleplay-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
    padding: 1em;
    gap: 2em 2em;
}

#box-content {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    border-radius: 0 !important;
    text-overflow: clip;
    margin: 0.8em;
}

#box-content h1 {
    font-size: 1.5em;
}
