/**
 * @Author: kapsikkum
 * @Date:   2022-03-22 23:00:41
 * @Last Modified by:   kapsikkum
 * @Last Modified time: 2022-04-22 00:42:58
 */
div#profile-info-container {
    height: 175px;
    max-height: 175px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    text-shadow: black 5px;

    i {
        display: inline-block;
        padding: 5px;
    }
}

div#profile-picture-container {
    border: 1px solid var(--ui-colour);
    display: inline-block;
    margin: 10px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    
    @include for-mobile-only {
        max-height: 75px;
        max-width: 75px;
        min-height: 75px;
        min-width: 75px;
    }
}

img#profile-picture-image {
    max-width: 150px;
    max-height: 150px;
    @include for-mobile-only {
        max-height: 75px;
        max-width: 75px;
    }

    &.banned {
        filter: blur(6px);
    }
}

h1#profile-username-header {
    // mix-blend-mode: difference;

    &.banned {
        text-decoration: line-through;
    }
}

// h3#profile-user-role {
//     // mix-blend-mode: difference;
// }

button#profile-edit-button {
    background-color: var(--ui-back-colour);
    border: 1px solid var(--ui-colour);
    cursor: pointer;
    font-size: 1.1em;
    margin: 10px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

div.profile-tab-bar {
    background-color: var(--ui-header);
    border: 1px solid var(--ui-colour);
    overflow: hidden;
    // height: 50px;

    button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        float: left;
        font-size: 20px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
        outline: none;
        transition: 0.3s;
        width: 5em;

        &:hover {
            background-color: var(--ui-item-hover);
        }
    }

    button.active {
        background-color: var(--ui-item-active);
    }
}

div.profile-tab-bar.sub {
    background-color: var(--ui-foreground-2);
    border-top: none;
    border-left: none;
    border-right: none;
}

div.profile-tab-content {
    background-color: var(--ui-foreground-2);
    border-radius: 0px 0px 15px 15px;
    display: none;
    margin-top: 5px;
    min-height: 50vh;
    padding: 15px;
}

p#profile-bio-textarea {
    color: var(--text-colour-2);
    background-color: var(--ui-foreground-2);
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

div.settings-input-group {
    padding: 15px;
    margin-top: 5px;
    background-color: var(--ui-foreground-1);
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;

    input {
        display: block;
        margin-bottom: 5px;
        text-align: start;
        padding: 10px;
        width: 300px;
    }

    input[type=color] {
        height: 37px;
        width: 320px;
        padding: 5px;
    }

    textarea {
        background-color: var(--ui-foreground-2);
        border: none;
        width: 300px;
        max-width: 300px;
        padding: 10px;
        white-space: pre-wrap;
    }

    label {
        display: block;
        width: 150px;
        padding: 10px;

        @include for-mobile-only {
            width: auto;
        }
    }

    input.profile-settings-submit {
        cursor: pointer;
        padding: 8px;
        width: auto;
    }

    .row {
        max-width: 1000px;

        .column {
            float: left;
            // width: 50%;
            display: grid;
        }

        .input-section {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}



#upload-image {
    display: none;
    float: left;
    height: 250px;
    padding-bottom: 50px;
    width: 100%;
}

#upload-image.ready {
    display: block;
}

.cr-slider-wrap {
    display: flex;
    align-content: center;
    justify-content: center;

    .cr-slider {
        background-color: var(--input-slider);
    }
}

