{% set title = "" %}
{% set ogtitle = "Onani | Free Anime and Hentai Gallery" %}
{% set ogdesc = "Millions of FREE hentai and anime videos, images, wallpapers, and more! No account needed, updated constantly!" %}
{% set ogimage = "/static/android-chrome-512x512.png" %}

{% extends "base.jinja2" %}

{% block content %}
<div class="login-box">
    <img src="/static/svg/onani.svg" alt="Onani">
</div>

{% endblock %}