{% set title = "Posts - " %}
{% if request.args.get("tags") %}
  {% set search_box_value = request.args.get("tags") %}
{% else %}
  {% set search_box_value = "" %}
{% endif %}
{% extends "base.jinja2" %}

{% block content %}
<!-- Left pannel/Tags -->
{% include "elements/tag_bar.jinja2" %}

<div id="posts-container">
  {% if posts.total <= 0 %}
  <h1>Sorry nothing</h1>
  {% endif %}
  {% for post in posts.items %}
    <div class="post-thumbnail-container">
      <a href="/post/{{ post.id }}"><img src="{{ post.file.thumbnail }}" class="post-thumbnail"></a>
    </div>
  {% endfor %}
  <div id="index-navigation"></div>
</div>

{% endblock %}