{% set title = "" %}
{% set ogtitle = "Onani | Anime Image Board" %}
{% set ogdesc = "Onani is an image board where people share their favorite anime content. Browse through a collection of high quality videos and pictures, no account required!" %}

{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}
<!-- Post thumbnails -->
<div id="posts-container">

    <div class="index-hero-post" onclick="location.href='/posts/{{ first_post.id }}'">
        <div class="index-hero-image-overlay" style="background-image:url('{{ first_post.sample }}');">
            <div class="index-hero-text-container">
                <h1>{{ first_post.title }}</h1>
                <p>Uploaded by {{ first_post.uploader.username }}</p>
            </div>
        </div>
    </div>

    <div class="index-post-group">
        <div class="post-group-header">
            <h2><i class="fa-solid fa-clock"></i>Latest</h2>
            <a href="/posts/">
                <h3>View all</h3> <i class="fa-solid fa-angles-right"></i></i>
            </a>
        </div>
        <div class="post-group-grid">
            {% for post in latest %}
            <div class="post-thumbnail-container" title="{{ post.title }}">
                <a href="/posts/{{ post.id }}"><img src="{{ post.thumbnail() }}" class="post-thumbnail"></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="index-post-group">
        <div class="post-group-header">
            <h2><i class="fa-solid fa-wand-magic-sparkles"></i>Recommended</h2>
            <a href="/posts/">
                <h3>View all</h3> <i class="fa-solid fa-angles-right"></i></i>
            </a>
        </div>
        <div class="post-group-grid">
            {% for post in latest %}
            <div class="post-thumbnail-container" title="{{ post.title }}">
                <a href="/posts/{{ post.id }}"><img src="{{ post.thumbnail() }}" class="post-thumbnail"></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="index-post-group">
        <div class="post-group-header">
            <h2><i class="fa-solid fa-palette"></i>Featured Artist</h2>
            <a href="/posts/">
                <h3>View all</h3> <i class="fa-solid fa-angles-right"></i></i>
            </a>
        </div>
        <div class="post-group-grid">
            {% for post in latest %}
            <div class="post-thumbnail-container" title="{{ post.title }}">
                <a href="/posts/{{ post.id }}"><img src="{{ post.thumbnail() }}" class="post-thumbnail"></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="index-post-group">
        <div class="post-group-header">
            <h2><i class="fa-solid fa-circle-check"></i>Newly Approved</h2>
            <a href="/posts/">
                <h3>View all</h3> <i class="fa-solid fa-angles-right"></i></i>
            </a>
        </div>
        <div class="post-group-grid">
            {% for post in latest %}
            <div class="post-thumbnail-container" title="{{ post.title }}">
                <a href="/posts/{{ post.id }}"><img src="{{ post.thumbnail() }}" class="post-thumbnail"></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="index-post-group">
        <div class="post-group-header">
            <h2><i class="fa-solid fa-bed"></i>Mirmirmirmirmir</h2>
            <a href="/posts/">
                <h3>View all</h3> <i class="fa-solid fa-angles-right"></i></i>
            </a>
        </div>
        <div class="post-group-grid">
            {% for post in latest %}
            <div class="post-thumbnail-container" title="{{ post.title }}">
                <a href="/posts/{{ post.id }}"><img src="{{ post.thumbnail() }}" class="post-thumbnail"></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="index-post-group">
        <div class="post-group-header">
            <h2><i class="fa-solid fa-person-through-window"></i>Dirt Jumping Out A Window</h2>
            <a href="/posts/">
                <h3>View all</h3> <i class="fa-solid fa-angles-right"></i></i>
            </a>
        </div>
        <div class="post-group-grid">
            {% for post in latest %}
            <div class="post-thumbnail-container" title="{{ post.title }}">
                <a href="/posts/{{ post.id }}"><img src="{{ post.thumbnail() }}" class="post-thumbnail"></a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<!-- Right panel/News -->
{% include "elements/right_bar.jinja2" %}
{% endblock %}