{% set title = "News - " %}
{% set ogtitle = "News" %}
{% set ogdesc = "Latest Onani news." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}

{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}

<div id="posts-container">
<h1>{{ article.title }}</h1>
<p>{{ article.content }}</p>
</div>

{% endblock %}