{% set title = "News - " %}
{% set ogtitle = "News" %}
{% set ogdesc = "Latest Onani news." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}

{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}

<div id="content-container" class="grid-container">
  <table>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Date</th>
      <th>Author</th>
    </tr>
    {% for news in news.items %}
        <tr>
          <td>{{ news.type.name.capitalize() }}</td>
          <td><a href="/news/{{ news.id }}">{{ news.title }}</a></td>
          <td class="date-format">{{ news.created_at.isoformat() }}</td>
          <td><a href="/users/{{ news.author.id }}" alt="{{ news.author.username }}">{{ news.author.username }}</a></td>
        </tr>
    {% endfor %}
  </table>
  {% set pagination = news %}
  {% set page_url = "/news/" %}
  {% include "elements/pagination.jinja2" %}
</div>
{% endblock %}