{% set title = "Post - " %}

{% if post.description %}
  {% set ogtitle = post.description  %}
{% else %}
  {% set ogtitle = "Post"  %}
{% endif %}

{% set ogdesc = "View on Onani." %}
{% set ogimage = post.files[0].url %}

{% extends "base.jinja2" %}

{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="/thumbnail/500x500{{ post.files[0].url }}">
{% endblock %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/post_tag_bar.jinja2" %}

<div id="content-container">
  <div class="images-container">
    {% for file in post.files %}
      <div class="file-container">
        <a href="{{ file.url }}"><img class="main-image" src="{{ file.url }}"></a>
      </div>
    {% endfor %}
  </div>
  <div class="post-info-box">
    <div id="post-info-header">

      <div id="poster-container" style="background-color:{{ post.uploader.profile_colour }}">
        <img src="{{ post.uploader.get_avatar(size=30) }}" alt="{{ post.uploader.username }}" title="{{ post.uploader.username }}">
        <a href="/users/{{ post.uploader.id }}">{{ post.uploader.username }}</a>
      </div>

      <div id="voting-container">
        <i class="fa-solid fa-thumbs-up"></i>
        <div id="post-score-count">{{ post.score }}</div>
        <i class="fa-solid fa-thumbs-down"></i>
      </div>

    </div>

    <div id="post-info-body">
      <div id="description-container">
        {% if post.description %}
          {% set description = post.description %}
        {% else %}
          {% set description = "Post has no description." %}
        {% endif %}
        <p>{{ description }}</p>
      </div>

      <div id="table-container">

        <table>
          <tr>
            <th>Uploaded At</th>
            <td>{{ post.uploaded_at.strftime('%d/%m/%Y %I:%M %p') }} UTC ({{ humanize.naturaltime(datetime.datetime.utcnow() - post.uploaded_at) }})</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{ post.status.name.capitalize() }}</td>
          </tr>
          <tr>
            <th>Rating</th>
            <td>{{ post.rating.name.capitalize() }}</td>
          </tr>
          <tr>
            <th>Source</th>
            <td>{% if post.source %}<a href="{{ post.source }}" target="_blank">{{ post.source }}</a>{% else %}No source available.{% endif %}</td>
          </tr>
        </table>

      </div>

    </div>
  </div>
  {# <table>
    <tr>
    	<th>Uploaded At</th>
        <td>{{ post.uploaded_at }}</td>
    </tr>
    <tr>
    	<th>Status</th>
        <td>{{ post.status.name }}</td>
    </tr>
    <tr>
    	<th>Rating</th>
        <td>{{ post.rating.name }}</td>
    </tr>
    <tr>
    	<th>Source</th>
        <td><a href="{{ post.source }}">{{ post.source }}</a></td>
    </tr>
    <tr>
    	<th>Description</th>
        <td>{{ post.description }}</td>
    </tr>
    <tr>
    	<th>Uploader</th>
        <td><a href="/users/{{ post.uploader.id }}">{{ post.uploader.username }}</a></td>
    </tr>
  </table> #}
</div>

{# <script type="text/js">
  $(document).ready(function(){$('.images').slick({dots: true, infinite: false});});
</script> #}

{% endblock %}