{% set title = user.username + " - " %}
{% set ogtitle = user.username %}
{% set ogdesc = "Check out " + user.username + "'s profile on Onani!" %}
{% set ogimage = user.settings.avatar %}
{% extends "base.jinja2" %}

{% if user.ban %}
  {% set username_class = "banned" %}
  {% set pfp_class = "banned" %}
  {% set user_bio = "User is banned. Reason: " + user.ban.reason %}
{% else %}
  {% set username_class = "" %}
  {% set pfp_class = "" %}
  {% if user.settings.biography is not none %}
    {% set user_bio = emoji.emojize(user.settings.biography, use_aliases=true) %}
  {% else %}
    {% set user_bio = "User has no Bio." %}
  {% endif %}
{% endif %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}
<!-- Right panel/News -->
{% include "elements/right_bar.jinja2" %}

<div id="outlined-container">
  <div id="profile-info-container">
    <!-- PFP -->
    <div id="profile-picture-container">
      <img src="{{ user.settings.avatar }}"
        id="profile-picture-image" class="{{ pfp_class }}"></a>
    </div>
    <!-- Username -->
    <h1 id="profile-username-header" class="{{ username_class }}">{{ user.username }}</h1>
    <!-- Permission value -->
    <h3 id="profile-user-role">{{ user.role.name }}</h3>
    <!-- User Platforms -->
    {% if user.settings.connections.get('twitter') %}
    <a href="{{ user.settings.connections.get('twitter') }}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    {% endif %}
    {% if user.settings.connections.get('pixiv') %}
    <a href="{{ user.settings.connections.get('pixiv') }}" target="_blank"><i class="icon-pixiv fa-2x"></i></a>
    {% endif %}
    {% if user.settings.connections.get('patreon') %}
    <a href="{{ user.settings.connections.get('patreon') }}" target="_blank"><i class="fa-brands fa-patreon fa-2x"></i></a>
    {% endif %}
    {% if user.settings.connections.get('deviantart') %}
    <a href="{{ user.settings.connections.get('deviantart') }}" target="_blank"><i class="fab fa-deviantart fa-2x"></i></a>
    {% endif %}
    {% if user.settings.connections.get('discord') %}
    <a onclick="CopyText('{{ user.settings.connections.get('discord') }}')" style="cursor: pointer;">
      <i class="fa-brands fa-discord fa-2x" title="{{ user.settings.connections.get('discord') }}"></i>
    </a>
    {% endif %}
    {% if user.settings.connections.get('paypal') %}
    <a href="{{ user.settings.connections.get('paypal') }}" target="_blank"><i class="fab fa-paypal fa-2x"></i></a>
    {% endif %}
    {% if user.settings.connections.get('github') %}
    <a href="{{ user.settings.connections.get('github') }}" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    {% endif %}
  </div>
  <!-- Profile content container -->
  <div id="profile-content-container">
    <div class="profile-tab-bar">
      <button class="profile-tab-link" onclick="changeTab(event, 'bio-tab')" id="bio">Bio</button>
      <button class="profile-tab-link" onclick="changeTab(event, 'posts-tab')" id="posts">Posts</button>
      {% if not current_user.is_anonymous %}
        {% if current_user.id == user.id %}
          <button class="profile-tab-link" onclick="changeTab(event, 'settings-tab')" id="settings">Settings</button>
        {% endif %}
      {% endif %}
    </div>
    <div id="bio-tab" class="profile-tab-content">
      <p id="profile-bio-textarea">{{ user_bio }}</p>
    </div>
    <div id="posts-tab" class="profile-tab-content">
      {% if posts.items|length <= 0 %}
        <p id="profile-bio-textarea">User has no posts.</p>
      {% else %}
        <div class="grid">
          {% for post in posts.items %}
            <div class="post-thumbnail-container">
              <a href="/posts/{{ post.id }}"><img src="/thumbnail/150x150{{ post.files[0].url }}" class="post-thumbnail"></a>
            </div>
          {% endfor %}
        </div>
        {% set pagination = posts %}
        {% set extra_params = "&t=posts"%}
        {% set page_url = "/users/{user_id}".format(user_id=user.id) %}
        {% include "elements/pagination.jinja2" %}
      {% endif %}
    </div>
    {% if not current_user.is_anonymous %}
      {% if current_user.id == user.id %}
      <div id="settings-tab" class="profile-tab-content">
        <div class="profile-tab-bar sub">
          <button class="settings-tab-link" onclick="changeSettingsTab(event, 'settings-account-tab')" id="account-settings">Account Settings</button>
          <button class="settings-tab-link" onclick="changeSettingsTab(event, 'settings-profile-tab')" id="profile-settings">Profile Settings</button>
          <button class="settings-tab-link" onclick="changeSettingsTab(event, 'settings-platforms-tab')" id="platform-settings">Platform Settings</button>
          <button class="settings-tab-link" onclick="changeSettingsTab(event, 'settings-site-tab')" id="site-settings">Site Settings</button>
        </div>
        <!-- Account settings -->
        <div id="settings-account-tab" class="settings-tab-content">
          <form id="settings-account" action="/settings/account/" method="POST">
            {{ account_form.csrf_token }}
            <h2 style="padding: 15px;">Account settings</h2>

            <!-- User Info Settings -->
            <div class="settings-input-group">
              <div class="row">
                <div class="column">
                  {{ account_form.username.label }}
                  {{ account_form.email.label }}
                </div>
                <div class="column">
                  {{ account_form.username(placeholder=user.username) }}
                  {{ account_form.email(placeholder=user.email) }}
                </div>
              </div>
            </div>

            <!-- Password settings -->
            <div class="settings-input-group">
              <div class="row">
                <div class="column">
                  {{ account_form.current_password.label }}
                  {{ account_form.new_password.label }}
                  {{ account_form.confirm_new_password.label }}
                </div>
                <div class="column">
                  {{ account_form.current_password() }}
                  {{ account_form.new_password() }}
                  {{ account_form.confirm_new_password() }}
                </div>
              </div>
            </div>
            <!-- Save Button For account -->
            <div class="settings-input-group">
              {{ account_form.submit() }}
            </div>
          </form>
        </div>
        
        

        <!-- Profile settings -->
        <div id="settings-profile-tab" class="settings-tab-content">
          <form id="settings-profile" action="/settings/profile/" method="POST">
            {{ profile_form.csrf_token }}
            <h2 style="padding: 15px;">Profile settings</h2>

            <!-- Profile Picture Settings -->
            <div class="settings-input-group">
              <div class="row">
                <div class="column">
                  {{ profile_form.profile_picture.label }}
                </div>
                <div class="column">
                  <input type="file" name="settings-profile-picture" id="profile-settings-profile-picture"
                    accept="image/png, image/jpeg">
                  {{ profile_form.profile_picture() }}
                  <!-- Croppie container -->
                  <div id="upload-image"></div>
                </div>
              </div>
            </div>

            <!-- Bio Settings -->
            <div class="settings-input-group">
              <div class="row">
                <div class="column">
                  {{ profile_form.biography.label}}
                </div>
                <div class="column">
                  {{ profile_form.biography()}}
                </div>
              </div>
            </div>
            <!-- Save Button For profile -->
            <div class="settings-input-group">
              {{ profile_form.submit() }}
            </div>
          </form>
        </div>

        <div id="settings-platforms-tab" class="settings-tab-content">
          <!-- Platform settings -->
          <form id="settings-platforms">
            <h2 style="padding: 15px;">Platform settings</h2>

            <div class="settings-input-group">
              <div class="row">
                <div class="column">
                  <label for="settings-twitter">Twitter</label>
                  <label for="settings-pixiv">Pixiv</label>
                  <label for="settings-patreon">Patreon</label>
                  <label for="settings-deviantart">DeviantArt</label>
                  <label for="settings-discord">Discord</label>
                  <label for="settings-github" style="display: none;">GitHub</label>
                </div>
                <div class="column">
                  <input type="text" name="Twitter profile" id="settings-twitter"
                    value="{{ user.settings.connections.get('twitter', ' ') }}"
                    placeholder="Twitter Profile Link"
                    pattern="{{ UserSettings.CONNECTION_REGEX['twitter'] }}"
                    onkeyup="this.reportValidity();">

                  <input type="text" name="Pixiv profile" id="settings-pixiv"
                    value="{{ user.settings.connections.get('pixiv', ' ') }}"
                    placeholder="Pixiv Profile Link"
                    pattern="{{ UserSettings.CONNECTION_REGEX['pixiv'] }}"
                    onkeyup="this.reportValidity();">

                  <input type="text" name="Patreon Profile" id="settings-patreon"
                    value="{{ user.settings.connections.get('patreon', ' ') }}"
                    placeholder="Patreon Profile Link"
                    pattern="{{ UserSettings.CONNECTION_REGEX['patreon'] }}"
                    onkeyup="this.reportValidity();">

                  <input type="text" name="DeviantArt Profile" id="settings-deviantart"
                    value="{{ user.settings.connections.get('deviantart', ' ') }}"
                    placeholder="DeviantArt Profile Link"
                    pattern="{{ UserSettings.CONNECTION_REGEX['deviantart'] }}"
                    onkeyup="this.reportValidity();">

                  <input type="text" name="Discord Username#Discriminator" id="settings-discord"
                    value="{{ user.settings.connections.get('discord', ' ') }}"
                    placeholder="Discord Username#Discriminator" 
                    pattern="{{ UserSettings.CONNECTION_REGEX['discord'] }}"
                    onkeyup="this.reportValidity();">

                  <input type="text" name="Github Profile" id="settings-github"
                    value="{{ user.settings.connections.get('github', ' ') }}"
                    pattern="{{ UserSettings.CONNECTION_REGEX['github'] }}"
                    placeholder="Github Profile Link"
                    onkeyup="this.reportValidity();">
                </div>
              </div>
            </div>
            <!-- Save Button For Platforms -->
            <div class="settings-input-group">
              <input type="button" value="Save Changes" class="profile-settings-submit" onclick="SavePlatformSettings()">
            </div>
          </form>
        </div>

        <div id="settings-site-tab" class="settings-tab-content">
          <!-- Site settings -->
          <form id="">
            <h2 style="padding: 15px;">Site settings</h2>

            <div class="settings-input-group">
              <div class="row">
                <div class="column">
                  <label for="settings-blacklist">Tag Blacklist (split by newlines)</label>
                </div>
                <div class="column">
                  <textarea name="settings-blacklist" id="profile-settings-blacklist" cols="30" rows="10" autocorrect="off"
                    autocapitalize="off" spellcheck="false">{{ '\n'.join(user.settings.tag_blacklist) }}</textarea>
                </div>
              </div>
            </div>
            <div class="settings-input-group">
              <div class="row">
                <div class="column">
                  <label for="settings-custom-css">Custom CSS</label>
                </div>
                <div class="column">
                  <textarea name="settings-custom-css" id="profile-settings-custom-css" cols="30" rows="10"
                    autocorrect="off" autocapitalize="off"
                    spellcheck="false">{% if user.settings.custom_css %}{{ user.settings.custom_css }}{% else %}{% endif %}</textarea>
                </div>
              </div>
            </div>
          <!-- Save Button For Site -->
          <div class="settings-input-group">
            <input type="button" value="Save Changes" class="profile-settings-submit" onclick="SaveSiteSettings()">
          </div>
        </form>
      </div>
      {% endif %}
    {% endif %}
  </div>
  <script src="/static/javascript/profile.min.js"></script>
  <script src="/static/javascript/edit-profile.min.js"></script>
</div>
<script>
  let converter = new showdown.Converter();
  const customEmotes = /(:don:|:katsu:|:desuwa:|:dirt:|:armagan:)/g,
    emojiTable = {
      don: "/static/svg/don.svg",
      katsu: "/static/svg/katsu.svg",
      desuwa: "/static/svg/desuwa.svg",
      dirt: "/static/image/dirt_small.gif",
      armagan: "/static/image/armagan_small.gif"
    }
  let bioText = document.getElementById("profile-bio-textarea");
  twemoji.parse(document.getElementById("profile-username-header"));
  twemoji.parse(bioText);
  bioText.innerHTML = bioText.innerHTML.replace(customEmotes, (current) => {
    return `<img src='${emojiTable[current.replace(/:/g, "")]}' class='emoji' draggable='false' alt='${current}'></img>`
  });
  bioText.innerHTML = converter.makeHtml(bioText.innerHTML);
</script>
{% endblock %}