{% set title = "Register - " %}
{% set ogtitle = "Register" %}
{% set ogdesc = "Get on Onani, not like there's any better site anyway." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}
{% extends "base.jinja2" %}

{% block content %}

<!-- Register box -->
<div class="login-box">
  <h1 class="login-bloody-header">Register</h1>
  <!-- Form -->
  <form action="/register/" method="POST">
    {{ form.csrf_token }}
    {{ form.username() }}
    {{ form.email() }}
    {{ form.password() }}
    {{ form.confirm() }}
    {{ form.submit() }}
  </form>
  <script>
    const password = document.getElementById("password"),
      confirmPassword = document.getElementById("confirm-password");
    function validatePassword() {
      if (password.value != confirmPassword.value) {
        confirmPassword.setCustomValidity("Password doesn't match!");
      } else {
        confirmPassword.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;
  </script>
  {% include "elements/form_errors.jinja2" %}
  {% include "elements/flashed_messages.jinja2" %}
</div>

{% endblock %}