{% set title = "Upload - " %}
{% set ogtitle = "Upload" %}
{% set ogdesc = "Upload a new post." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}
{% extends "base.jinja2" %}

{% block content %}
<div id="uploader-container">
  <h1>Upload File</h1>
  <form action="/upload/" method="POST" enctype="multipart/form-data" style="display: flex;">
    {{ form.csrf_token }}
    <div class="row uploader">
      <div class="column uploader">
        {{ form.files.label }}
        {{ form.files() }}
      </div>
      <div class="column uploader">
        {{ form.source.label }}
        {{ form.source() }}
      </div>
      <div class="column uploader">
        {{ form.tags.label }}
        {{ form.tags() }}
      </div>
      <div class="column uploader">
        {{ form.description.label }}
        {{ form.description() }}
      </div>
      <div class="column uploader">
        {{ form.rating.label }}
        {{ form.rating() }}
      </div>
      <div class="column uploader">
        {{ form.submit() }}
      </div>
    </div>

    <div class="row uploader">
    <div class="column uploader">
        <div id="preview-image-container"><img id="preview-image"></div>
      </div>
    </div>

    <script src="/static/javascript/uploader.min.js"></script>
  </form>
</div>
{% include "elements/form_errors.jinja2" %}
{% include "elements/flashed_messages.jinja2" %}
{% endblock %}