{% set title = "Upload - " %}
{% set ogtitle = "Upload" %}
{% set ogdesc = "Upload a new post." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}
{% extends "base.jinja2" %}

{% block top_scripts %}
<!-- CryptoJS for MD5 checking-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/md5.min.js" integrity="sha512-3sGbaDyhjGb+yxqvJKi/gl5zL4J7P5Yh4GXzq+E9puzlmVkIctjf4yP6LfijOUvtoBI3p9pLKia9crHsgYDTUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/enc-base64.min.js" integrity="sha512-IKpu1GFk/bQ+2fOc4sXuA6lm7Rct4P7611iDBxY9LReOZ2PpwoDWWqj6GSYejUce1FLxo/d4lxAnKqGWJuBw7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<div id="uploader-container">
  <div id="uploader-title-bar">
    <div id="left-button" class="fa-solid fa-chevron-left"></div>
    <h1 id="uploader-title-text">Upload File</h1>
    <div id="right-button" class="fa-solid fa-chevron-right"></div>
  </div>
  <form action="/upload/" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div id="first-panel" class="uploader-panel">
      <div id="preview-image-container">
        <img id="preview-image">
      </div>
      <div class="uploader-input-group">
        {{ form.files.label }}
        {{ form.files() }}
      </div>
    </div>
    <div id="second-panel" class="uploader-panel">
      {{ form.tags.label }}
      {{ form.tags() }}
    </div>
    <div id="third-panel" class="uploader-panel">
      {{ form.source.label }}
      {{ form.source() }}
      {{ form.description.label }}
      {{ form.description() }}
      {{ form.rating.label }}
      {{ form.rating() }}
      {{ form.recaptcha() }}
      {{ form.submit() }}
    </div>
    <script src="/static/js/uploader.min.js"></script>
  </form>
</div>
{% include "elements/form_errors.jinja2" %}
{% include "elements/flashed_messages.jinja2" %}
{% endblock %}