{% set title = "Users - " %}
{% set ogtitle = "Users" %}
{% set ogdesc = "A list of users on the best site. No idea if this complies with GDPR." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}

{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}

<div id="content-container">
  <table>
    <tr>
      <th class="profile-picture-cell"></th>
      <th>Username</th>
      <th>Role</th>
      <th>Post Count</th>
      <th>Date Joined</th>
    </tr>
    {% for user in users.items %}
        <tr>
          <td class="profile-picture-cell"><a href="/users/{{ user.id }}" alt="{{ user.username }}"><img src="{{ user.get_avatar(size=50) }}"></a></td>
          <td><a href="/users/{{ user.id }}" alt="{{ user.username }}">{{ user.username }}</a></td>
          <td>{{ user.role.name.capitalize() }}</td>
          <td><a href="/users/{{ user.id }}?t=posts">{{ user.post_count }} post{% if user.post_count == 1 %}{% else %}s{% endif %}</a></td>
          <td>{{ user.created_at.strftime('%d/%m/%Y %I:%M %p') }} UTC</td>
        </tr>
    {% endfor %}
  </table>
  {% set pagination = users %}
  {% set page_url = "/users/" %}
  {% include "elements/pagination.jinja2" %}
</div>

<!-- Right panel/News -->
{% include "elements/right_bar.jinja2" %}
{% endblock %}