{% set title = "Users - " %}
{% set ogtitle = "Users" %}
{% set ogdesc = "A list of users on the best site. No idea if this complies with GDPR." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}

{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}
<!-- Right panel/News -->
{% include "elements/right_bar.jinja2" %}


<div id="outlined-container" class="grid-container">
  {% for user in users.items %}
    <div class="grid-item"><img src="{{ user.settings.avatar }}" class="pfp-list"><a href="/users/{{ user.id }}" alt="{{ user.username }}">{{ user.username }}<h6>({{ user.role.name }} | {{ user.post_count }} posts)</h6></a></div>
  {% endfor %}
  {% set pagination = users %}
  {% set page_url = "/users/" %}
  {% include "elements/pagination.jinja2" %}
</div>
{% endblock %}