{% set title = "Collections - " %}
{% set ogtitle = "Onani" %}
{% set ogdesc = "About fucking time." %}

{% if request.args.get("tags") %}
{% set search_box_value = request.args.get("tags") %}
{% else %}
{% set search_box_value = "" %}
{% endif %}
{% extends "base.jinja2" %}

{% block content %}
<!-- Left panel/Tags -->
{% include "elements/tag_bar.jinja2" %}
<!-- Post thumbnails -->
<div class="collection-content">
    <div class="collection-posts" id="posts-container">
        {% if collections.items|length <= 0 %}
        <h1>Sorry nothing</h1>
        {% else %}
        <div class="grid">
            {% for collection in collections.items %}
            <div class="post-thumbnail-container" title="{{ collection.title }}">
                <a href="/collections/{{ collection.id }}"><img src="{{ collection.thumbnail() }}"
                        class="post-thumbnail"></a>
            </div>
            {% endfor %}
        </div>
        {% set pagination = collections %}
        {% set page_url = "/collections/" %}
        {% include "elements/pagination.jinja2" %}
        {% endif %}
    </div>
</div>

{% endblock %}