<div id="right-pannel">

  <div id="newsbox">
    <div style="padding: 0px 0px 10px 0px;">
      <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
      <h1 style="display: inline; padding: 10px">News</h1>
    </div>
    <div id="news-container">
      <li><a href="/news/1">Onani acquired by Titter!</a></li>
      <li><a href="/news/2">Official Onani IRC server!</a></li>
      <li><a href="/news/3">Fatass don-chan in a Tuxedo, wtf??!</a></li>
      <li><a href="/news/4">Free sex for free no survey</a></li>
    </div>
  </div>

  <div id="chatbox">
    <div style="padding: 0px 0px 10px 0px;">
      <i class="far fa-comment-alt fa-2x"></i>
      <h1 style="display: inline; padding: 10px">Chat</h1>
    </div>
    <div id="chat-container">
      <div id="chat-message-area"></div>
      <div id="chat-message-input-container">
        <input type="text" name="chat-box-textarea" id="chat-box-textarea" placeholder="Please login to send messages.">
        <i class="far fa-paper-plane" id="chat-box-send"></i>
      </div>
      <script src="/javascript/onani-chat.min.js"></script>
    </div>
  </div>
</div>