{% set title = "Login - " %}
{% set ogtitle = "Login" %}
{% set ogdesc = "Login to your account to enjoy every feature of Onani." %}
{% extends "base.jinja2" %}

{% block content %}
<!-- Login box -->
<div class="login-box">
    <h1 class="login-header">Login</h1>
    <!-- Form -->
    <form action="/login/" method="POST">
        {{ form.csrf_token }}
        {{ form.username() }}
        {{ form.password() }}
        {{ form.submit() }}
    </form>
</div>

{% endblock %}