{% set title = "DMCA - " %}
{% set ogtitle = "DMCA" %}
{% set ogdesc = "Legal bizness..." %}
{% set ogimage = "/static/android-chrome-512x512.png" %}
{% extends "base.jinja2" %}
{% block content %}
<div id="content-container">
    <h1>DMCA</h1>
    <p>
        Here at Onani we take DMCA issues very seriously and value artists,
        <br>
        we give you the option to either get your content deleted or listed on your own profile.
    </p>
</div>
{% endblock %}