body {
  overflow: hidden;
  margin-top: 150px;
  margin-bottom: 70px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width:500px;
  max-height:500px;
  pointer-events: all;
  transition: transform 1200s ease;
}

img:hover {
  transform: scale(10);
}

div.title_image {
  top: 0px;
  width: 100%;
  margin: auto;
  position: fixed;
  text-align: center;
  pointer-events: none;
}

div.top {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #000000;
}

div.bottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: #000000;
}

div.text_container {
  margin: auto;
  width: fit-content;
  padding-top: 15px;
}

a {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ff0000;
}

font {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

h1 {
  display: block;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

p {
  display: block;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

input[type=text] {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  border-radius: 4px;
  width: max-content;
}

input[type=button], input[type=submit], input[type=password], input[type=reset], input[type=file], input[type=list] {
  background-color: #000000;
  color: #ff0000;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  border-radius: 4px;
}

div.upload {
  padding-top: 15px;
  display: flex;
  margin-left: 0 auto;
  margin-right: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #000000;
  font-family: Roboto;
  margin-left: 0 auto;
  margin-right: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Links inside the navbar */
.navbar a {
  display: inline-block;
  font-size: 16px;
  color: #ff0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #252525;
}

div.search_box {
  width: 500px;
  border:1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

input.search {
  margin : 0 auto;
  font-size: 16px;
  background-color: #000000;
  color: #ff0000;
  padding: 12px 16px;
  width: 350px;
  border: 2px solid red;
  border-radius: 3px;
  text-align: start;
}

input.submit {
  margin : 0 auto;
  font-size: 16px;
  background-color: #000000;
  color: #ff0000;
  padding: 12px 16px;
  width: 85px;
  border: 2px solid red;
  border-radius: 3px;
}

input[type="checkbox"] {
  vertical-align: bottom;
  display: inline-block;
  padding-right: 0;
}

.button-group{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
}

label {
  display: inline-flex;
  padding-left: 0px;
  align-items:center;
  font-size: 15px;
  color: #fc0303;
}
