body {
  margin-top: 160px;
  margin-bottom: 70px;
}

div.top {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 50;
  background-color: #000000;
  transition: 0.3s;
}

div.bottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 50;
  background-color: #000000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-right: 160px;
  margin-left: 160px;
  justify-content: center;
}

.column {
  flex: 15%;
  max-width: 15%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

img.image,
img.video {
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  overflow: hidden;
  animation: fadein 1s;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/loading.png");
}

img.video {
  outline: 3px solid red;
  outline-offset: -3px;
}

.image-container {
  transition: transform .5s ease;
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  pointer-events: auto;
}

.image-container .favourite-button {
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 49;
  pointer-events: auto;
  top: 10px;
  right: 1px;
  margin: 0px 0px 0px 8px;
  font-size: 16px;
  background-color: black;
  color: red;
  padding: 3px 3px;
  border: 2px solid red;
  border-radius: 3px;
  animation: fadein 0.22s;
}

p {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.info_box {
  outline: thin;
  outline-color: #ff0000;
  outline-style: solid;
  z-index: 50;
  width: 170px;
  background-color: #000000;
  position: fixed;
  bottom: 24px;
  right: 0px;
  opacity: 0.8;
}
/* #0a0a0a */
.info_box p {
  padding: 0px 10px 0px 10px;
  text-decoration: solid;
  text-align: left;
  font-size: 12px;
  color: #ff0000;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info_box a {
  text-align: left;
  text-decoration: underline;
}

input[type=text] {
  margin: 0 auto;
  font-size: 16px;
  background-color: #000000;
  color: #ff0000;
  padding: 5px 10px;
  width: 350px;
  border: 2px solid red;
  border-radius: 3px;
  text-align: center;
}

.forward,
.backward  {
  z-index: 1;
  background-color: #111111;
  color: #ff0000;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
  transition: transform .5s ease;
  outline-style: none;
  outline: none;
  cursor: pointer;
}

.forward:hover,
.backward:hover {
  background-color: #505050;
  color: #ff0000;
  transform: scale(1.5);
}

.disable {
  visibility: hidden;
}

div.controls {
  z-index: 10;
  display: flex;
  margin-left: 0 auto;
  margin-right: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.sort_controls {
  display: flex;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a.reverse, a.sort, a.jump {
  font-size: small;
  background-color: #111111;
  text-decoration: none;
  display: inline-block;
  padding: 4px 8px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform .5s ease;
}

#magnifying-glass {
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid #ff0000;
  position: relative;
  border-radius: 0.35em;
}

#magnifying-glass::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #ff0000;
  width: 0.35em;
  height: 0.08em;
  transform: rotate(45deg);
}

.enabled {
  color: #00ff00
}

.disabled {
  color: #ff0000;
}

a.reverse:hover, a.sort:hover, a.jump:hover {
   background-color: #505050;
   transform: scale(1.5);
}

img.Title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width: 250px;
  transition: transform .5s ease;
}

img.Title:hover {
  transform: scale(1.05);
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media (pointer:coarse) and (hover:none) {
  .image-container .favourite-button {
    display: block;
    padding: 5px 3px;
    font-size: 11px;
  }
}

@media only screen and (min-width:321px) and (max-width:810px) {
  .info_box {
     width: 135px;
  }
  
  .row {
    flex-wrap: auto;
    margin-left: auto;
    margin-right: auto;
  }

  img.image:hover {
    transform: none;
  }

  img.image:active {
    transform: scale(1.2);
  }

  .forward:active,
  .backward:active {
    background-color: #505050;
    color: #ff0000;
    transform: scale(1.5);
  }

  a.reverse:hover,
  a.sort:hover,
  a.jump:hover {
    transform: none;
  }

  .image-container .favourite-button {
    display: block;
    padding: 5px 3px;
    font-size: 11px;
  }

}

@media only screen and (max-width: 502px) {
  .info_box {
    display: none;
  }

  img.Title {
    max-width: 100%;
  }

  .row {
    margin-right: auto;
    margin-left: auto;
  }

  input[type=text] {
    text-align: left;
    text-overflow: ellipsis;
    font-size: 12px;
    width: auto;
    max-width: 50%;
    left: 0;
    right: 0;
  }

  form {
    width: 20%;
  }

  .column {
    flex: 100%;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
  }

  body {
    margin-top: 180px;
  }

  .forward:hover,
  .backward:hover {
    transform: none;
  }

  .forward:active,
  .backward:active {
    background-color: #505050;
    color: #ff0000;
    transform: scale(1.5);
  }

  a.reverse:hover,
  a.sort:hover,
  a.jump:hover {
    transform: none;
  }

  a.reverse:active,
  a.sort:active,
  a.jump:active {
    background-color: #505050;
    transform: scale(1.5);
  }

  img.image:hover {
    transform: none;
  }

  img.image:active{
    transform: scale(1.2);
  }

  .image-container .favourite-button {
    display: block;
    padding: 12px 12px;
    font-size: 18px;
  }
}
