body {
  margin-top: 60px;
  margin-bottom: 18px;
  /* overflow: hidden; */
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width: 250px;
  transition: transform .5s ease;
}

img.title:hover {
  transform: scale(1.1);
}

div.top {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #000000;
}

div.bottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #000000;
}

a {
  display: block;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

font {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fc0303;
}

h1 {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main_image {
  animation: fadein 0.5s;
  max-width: 89vh;
  max-height: 89vh;
  width: 89vh;
  height: 89vh;
  margin: 0 auto;
}

video {
  animation: fadein 0.5s;
  max-width: 89vh;
  max-height: 89vh;
  margin: 0 auto;
}

div#image-container {
  display: grid;
  height: 100%;
}

div#image-container a img{
  display: inline-block;
}

.info_box {
  padding-bottom: 10px;
  text-align: center;
}

.info_box:hover {
  opacity: 1;
  transition: ease 0.3s;
}

.info_box p {
  animation: fadein 0.7s;
  color: red;
  font-weight: bold;
  text-decoration: solid;
  display: inline-block;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.info_box a {
  animation: fadein 0.7s;
  padding: 5px 0px 1px 1px;
  color: red;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  /* text-align: left; */
  text-decoration: underline;
  opacity: 1;
}

.info_box p:hover,
.options-bar a:hover {
  color: #aa0303;
}

div.controls {
  display: flex;
  z-index: 3;
  position:fixed;
  top: 135px;
  right: 255px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.anchor-left {
  right: auto !important;
  left: 275px !important;
}

.anchor-right {
  right: 275px !important;
  left: auto !important;
}

.forward,
.backward {
  background-color: #111111;
  z-index: 3;
  color: #ff0000;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform .5s ease;
}

.forward:hover,
.backward:hover {
  background-color: #505050;
  color: #ff0000;
  transform: scale(1.5);
}

.disable {
  visibility: hidden;
}

div.message-box {
  border: 3px solid red;
  overflow-y: scroll;
  background-color: #000000;
  z-index: 2;
  position: fixed;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

div.message-box p {
  display: block;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

div.message-box a {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ff0000;
}

a.exit-button {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

a.exit-button:hover {
  opacity: 1;
}

a.exit-button:before,
a.exit-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #ff0000;
}

a.exit-button:before {
  transform: rotate(45deg);
}

a.exit-button:after {
  transform: rotate(-45deg);
}

button#toggle-navbar {
  z-index: 42069;
  display: none;
  padding: 5px;
  left: 0px;
  top: 0;
  position: fixed;
  color: red;
  border: 2px solid red;
  background-color: black;
  overflow: hidden;
  outline: none;
  padding: 6px 5px 6px 5px;
  cursor: pointer;
  font-size: 20px;
  transition: ease 0.2s;
}

.sidenav {
  outline: thin;
  outline-color: #ff0000;
  outline-style: solid;
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0a0a0a;
  text-overflow: ellipsis;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding-top: 17px;
  transition: ease 0.2s;
}

/* The navigation menu links */
#tag-bar a,
#options-bar a {
  animation: fadein 0.7s;
  font-weight: bold;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ff0000;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: ease 0s;
  cursor: pointer;
  /* overflow: hidden; */
}

/* #options-bar a.disabled {
 
} */

#tag-bar a.delete {
  animation: fadein 0.7s;
  padding: 9px 8px 16px 13px;
  text-decoration: none;
  font-size: 10px;
  color: #ff0000;
  display: block;
  float: left;
  opacity: 0.6;
}

#tag-bar a.delete:before,
#tag-bar a.delete:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #ff0000;
}

#tag-bar a.delete:before {
  transform: rotate(45deg);
}

#tag-bar a.delete:after {
  transform: rotate(-45deg);
}

#tag-bar a.delete:hover {
  opacity: 1;
}

#tag-bar a:hover {
  color: #f1f1f1;
  transition: ease 1s;
}

a.disabled {
  text-decoration: none;
  color: #632020;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin-top: 15%;
  }

  img.title {
    max-width: 50%;
  }

  div#image-container {
    text-align: center
  }

  div.sidenav {
    left: -270px;
  }

  button#toggle-navbar {
    display: inline;
  }

  .main_image,
  video {
    max-width: 90vw;
    max-height: 150vw;
    margin: 0 auto;
  }

  div.controls {
    top: 13%;
  }

  .anchor-left {
    right: auto !important;
    left: 10px !important;
  }

  .anchor-right {
    right: 10px !important;
    left: auto !important;
  }

  .forward:hover,
  .backward:hover {
    transform: none;
  }

  .forward:active,
  .backward:active {
    background-color: #505050;
    color: #ff0000;
    transform: scale(1.5);
  }

  .reset-postion-info-box {
    bottom: 0px !important;
  }

  .reset-postion-navbar-right {
    right: 0px !important;
  }

  .reset-postion-navbar-left {
    left: 0px !important;
  }

  div.message-box {
    width: 99%;
    height: 58%;
    overflow-y: hidden;
    overflow-x: scroll;
    word-wrap: break-word;
  }

}