body {
  overflow: hidden;
  margin-top: 85px;
  margin-bottom: 70px;
  opacity: 1;
}

body.fade-out {
  animation: fadeOut ease 3s forwards;
}

html {
  /* height: 100%; */
  margin: 0;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width:500px;
  max-height:500px;
  pointer-events: all;
  transition: transform 1200s ease;
}

img:hover {
  transform: scale(10);
}

div.title_image {
  top: 0px;
  width: 100%;
  margin: auto;
  position: fixed;
  text-align: center;
  pointer-events: none;
}

a#home {
  max-width: fit-content;
  max-height: fit-content;
}

div.top {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: black;
}

div.bottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: black;
}

div.text_container {
  margin: auto;
  width: fit-content;
  padding-top: 15px;
}

a {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: red;
}

font {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: red;
}

h1 {
  display: block;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: red;
}

p {
  /* display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; */
  color: red;
}

input[type=text] {
  width: 100% !important;
  color: red;
  border: 2px solid red;
  border-radius: 4px;
  background-color: black;
  display: flex;
  overflow: hidden;
  outline: none;
  z-index: 0;
  font-family: 'MADEEvolveSansMedium';
}

input[type=button],
input[type=submit],
input[type=password],
input[type=reset],
input[type=file], 
input[type=list] {
  display: flex;
  background-color: black;
  color: red;
  text-decoration: none;
  margin: 10px 10px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  border-radius: 4px;
  font-family: 'MADEEvolveSansMedium';
}

input[type=text].data-input, 
input[type=file]#selected-files {
  width: 240px !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: red;
  border: 2px solid red;
  border-radius: 4px;
  margin-top: 15px;
  background-color: black;
  display: flex;
  font-family: 'MADEEvolveSansMedium';
  font-size: 17px;
  padding: 5px;
}

button#upload-button {
  display: flex;
  background-color: black;
  color: red;
  text-decoration: none;
  margin: 10px 10px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  border-radius: 4px;
  font-family: 'MADEEvolveSansMedium';
  padding: 5px;
}

div.message-box {
  z-index: 50;
  border: 3px solid red;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  overflow-y: scroll;
  box-sizing: content-box;
}

div.login-box {
  border: 3px solid red;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: content-box;
  display: block;
  overflow: hidden;
  padding: 80px 80px 20px 80px;
  z-index: 5;
}

.small-padding {
  padding: 5px 5px;
}

.large-padding {
  padding: 100px 100px;
}

div.gauge-container {
  float: left;
  position: relative;
  /* flex-direction: row;
  display: flex; */
  /* border: 3px solid black; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

#cpu-value, #ram-value, #disk-value {
  margin-top: 0px;
  margin-bottom: 0px;
}

a.exit-button {
  z-index: 2;
  position: absolute;
  right: 18px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

a.exit-button:hover {
  opacity: 1;
}

a.exit-button:before, a.exit-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: red;
}

a.exit-button:before {
  transform: rotate(45deg);
}

a.exit-button:after {
  transform: rotate(-45deg);
}

#console-pannel {
  font-family: 'Consolas';
}

p span {
  color: initial;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  /* background-color: black; */
  margin-left: 0 auto;
  margin-right: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Links inside the navbar */
.navbar a {
  display: inline-block;
  font-size: 16px;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  display: inline-block;
  font-size: 16px;
  color: red;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  /* overflow: hidden; */
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: red;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  border: 1px solid red;
  min-width: 15%;
  box-shadow: 0px 8px 16px 0px rgba(253, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #252525;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #252525;
}

span {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  display: inline-block;
}

div.search_box {
  display: flex;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

input.search {
  margin : 0 auto;
  font-size: 16px;
  background-color: inherit;
  outline-color: black;
  color: red;
  padding: 12px 16px;
  width: 100%;
  border: 2px solid red;
  border-radius: 3px;
  text-align: start;
}

a.submit-button {
  margin: 0px 0px 0px 8px;
  font-size: 16px;
  background-color: black;
  color: red;
  padding: 8px 15px;
  width: 55px;
  border: 2px solid red;
  border-radius: 3px;
  cursor: pointer;
}

div.search-submit-div {
  /* width: 55px; */
  /* position: relative; */
  border:1px solid rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.search-text-input {
  flex: 0 0 65%;
  width: 100%;
  max-width: 50%;
  overflow: clip;
  border: 1px solid rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="checkbox"] {
  vertical-align: bottom;
  display: inline-block;
  padding-right: 0;
}

input[type="text"]#username {
  width: 210px !important;
  display: flex;
  cursor: unset;
  font-size: medium;
  margin-top: 10px;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

input[type="password"]#password {
  width: 210px;
  display: flex;
  cursor: unset;
  font-size: medium;
  padding: 5px 10px 5px 10px;
}

input[type="button"]#submit {
  display: inline-block;
  margin-top: 3px;
  padding: 5px 10px 5px 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

.button-group{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
}

label {
  display: inline-flex;
  padding-left: 0px;
  align-items:center;
  font-size: 15px;
  color: #fc0303;
}

#subtitle {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  z-index: 100;
  font-family: 'Mojangles';
  padding-bottom: 0%;
	text-align: center;
	color: #FFFF00;
	text-shadow: 1px 1px 0px #000;
	position: relative;
	left: 180px;
	bottom: 70px;
	animation: subtitle .25s;
	animation-direction: alternate;
  animation-iteration-count: infinite;
  transform: rotate(-20deg);
}

div.red-page {
  outline: thin;
  outline-color: red;
  outline-style: solid;
  width: 50%;
  height: 100%;
  margin: 135px auto 35px auto;
  box-shadow: 0 0 20px 0px red;
  padding: 10px;
}

div.red-page p {
  display: block;
  text-align: left;
  margin: 15px 0;
}

div.red-page p#favourite-count {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin: 15px 0;
}

div.red-page p#logged-in-text {
  font-family: Bloody;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  top: 0;
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.red-page a {
  display: inline-block;
}

input#api-key {
  width: 300px;
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  border: 2px solid red;
  border-radius: 4px;
  background-color: black;
  overflow: hidden;
  outline: none;
  font-family: 'MADEEvolveSansMedium';
  /* filter: blur(5px); */
  transition: 0.5s ease;
  font-family: 'Consolas';
  padding: 5px 5px 5px 5px;
}

button#copy-button, 
button#regen-button {
  color: red;
  border: 2px solid red;
  border-radius: 4px;
  background-color: black;
  overflow: hidden;
  outline: none;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

button#save-button {
  color: red;
  border: 2px solid red;
  padding: 0 0 0 0;
  border-radius: 4px;
  background-color: black;
  overflow: hidden;
  outline: none;
  font-family: 'MADEEvolveSansMedium';
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  float: right;
}

input#api-key:hover {
  color: red;
  text-shadow: none;
  filter: none;
}

input#api-key:active {
  color: red;
  text-shadow: none;
  filter: none;
}

select#free-hand,
select#sfw-mode,
select#splash-text {
  display: inline-flex;
  color: red;
  background-color: black;
  width: max-content;
  border: none;
  outline: thin;
  outline-color: red;
  outline-style: solid;
  font-family: 'MADEEvolveSansMedium';
  padding: 2px 5px 2px 5px;
}

select#free-hand option, 
select#sfw-mode option,
select#splash-text option {
  color: red;
}

.flier {
  z-index: 666;
  left: -200px;
  position: absolute;
  width: max-content;
  pointer-events: none;
  animation: fly 10s forwards;
}

#don1 {
  background-image: url('/img/don_drumming_sprite.png');
  width: 360px;
  height: 184px;
  display: none;
  bottom: 23px;
  left: 0;
  position: absolute;
  transition: ease-in;
  animation: don1_animation 1s steps(48) infinite;
}

#don2 {
  background-image: url('/img/don_wiggle_sprite.png');
  width: 360px;
  height: 184px;
  display: none;
  bottom: 23px;
  right: 0;
  position: absolute;
  transform: scaleX(-1);
  transition: ease-in;
  animation: don2_animation 0.7s steps(31) infinite;
}

#drum,
#don-left,
#don-right,
#ka-left,
#ka-right {
  width: 154px;
  height: 170px;
  display: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 23px;
  position: absolute;
}

.don{
  background-image: url('/img/don.png');
  max-width: 80px;
  max-height: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
}

.ka {
  background-image: url('/img/kat.png');
  max-width: 80px;
  max-height: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
}

#drum{
  background-image: url('/img/base.png');
}

#don-left {
  background-image: url('/img/don_left.png');
}

#don-right {
  background-image: url('/img/don_right.png');
}

#ka-left {
  background-image: url('/img/ka_left.png');
}

#ka-right {
  background-image: url('/img/ka_right.png');
}


/* Colour themes */
.blue {
  filter: hue-rotate(240deg);
}

.green {
  filter: hue-rotate(140deg);
}

.magenta {
  filter: hue-rotate(300deg);
}

.cyan {
  filter: hue-rotate(195deg);
}

/* Animation */
@keyframes don1_animation {
  100% {
    background-position: -17280px;
  }
}

@keyframes don2_animation {
  100% {
    background-position: -11160px;
  }
}

@keyframes fly {
  0% {
    left: -200px;
  }
  99% {
    left: 200%;
  }
  100% {
    left: 200%;
    display: none;
  }
}

@keyframes subtitle {
  0% {
    transform: scale(0.875) rotate(-20deg)
  }

  100% {
    transform: scale(1) rotate(-20deg)
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 5000;
  }

  100% {
    opacity: 0;
    z-index: 5000;
    background: white;
  }
}

@media only screen and (min-width:321px) and (max-width:768px) {
    label {
      display: block;
    }
}

@media only screen and (max-width: 502px) {
  img.title {
    max-width: 100%;
  }

  #subtitle {
    display: none;
  }

  div.login-box {
    max-width: 100%;
    padding: 80px 10px 20px 10px;
  }

  .large-padding {
    padding: 15% 48px 15% 45px;
  }

  canvas {
    width: 150px;
    height: 75px;
  }

  #cpu-value,
  #ram-value,
  #disk-value {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #stat-box p {
    font-size: small;
  }

  #stat-box #full-stats {
    width: fit-content;
    display: flex;
    font-size: large;
    margin-top: 45%;
    margin-left: 49%;
  }

  div.red-page {
    width: 75%;
  }

  input#api-key {
    width: 75%;
  }

  div.red-page p#logged-in-text {
    font-size: 1em;
  }

  .flier {
    display: none;
  }
  
  label {
    display: block;
  }
}