body {
    background: black;
    font-size: 22px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-width: 100vh;
    min-width: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

::-webkit-scrollbar-thumb {
    width: 1px;
    background-color: red;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #3a02024d;
    background-color: black;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: black;
    transition: ease;
}

::selection {
    color: black;
    background: red;
}

::-moz-selection {
    color: black;
    background: red;
}

* {
    font-family: 'MADEEvolveSansMedium';
    margin: 0;
    padding: 0;
    scrollbar-color: red black;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

hr {
    height: 1px;
    border-color: transparent;
    background-color: #ff0000;
}

.loading-container {
    z-index: 666;
    width: 211px;
    height: 211px;
    display: inline-block;
    overflow: hidden;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(27, 27, 27, 0.397);
}

.loading {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loading div {
    position: fixed;
    width: 25.32px
}

.loading div:nth-child(1) {
    left: 40.089999999999996px;
    background: #ff0000;
    animation: loading-1 0.9345794392523364s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.18691588785046728s
}

.loading div:nth-child(2) {
    left: 92.83999999999999px;
    background: #ff0000;
    animation: loading-2 0.9345794392523364s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.09345794392523364s
}

.loading div:nth-child(3) {
    left: 145.59px;
    background: #ff0000;
    animation: loading-3 0.9345794392523364s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: 0s
}

.loading div {
    box-sizing: content-box;
}

@keyframes loading-1 {
    0% {
        top: 80.17999999999999px;
        height: 50.64px
    }

    50% {
        top: 92.83999999999999px;
        height: 25.32px
    }

    100% {
        top: 92.83999999999999px;
        height: 25.32px
    }
}

@keyframes loading-2 {
    0% {
        top: 83.345px;
        height: 44.309999999999995px
    }

    50% {
        top: 92.83999999999999px;
        height: 25.32px
    }

    100% {
        top: 92.83999999999999px;
        height: 25.32px
    }
}

@keyframes loading-3 {
    0% {
        top: 86.50999999999999px;
        height: 37.98px
    }

    50% {
        top: 92.83999999999999px;
        height: 25.32px
    }

    100% {
        top: 92.83999999999999px;
        height: 25.32px
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@font-face {
    font-family: 'MADEEvolveSansMedium';
    src: url('/font/MADEEvolveSans-Medium.woff') format('woff'),
        url('/font/MADEEvolveSans-Medium.woff2') format('woff2'),
        url('/font/MADEEvolveSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Mojangles';
    src: url('/font/mojangles.woff') format('woff'),
        url('/font/mojangles.ttf') format('truetype');
}

@font-face {
    font-family: 'Consolas';
    src: url('/font/Consolas.woff') format('woff'),
        url('/font/Consolas.woff2') format('woff2'),
        url('/font/Consolas.ttf') format('truetype');
        
}