body {
  margin-top: 135px;
  margin-bottom: 70px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width:500px;
  max-height:500px;
  transition: transform 1200s ease;
}

div.top {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #000000;
}

div.bottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #000000;
}

img:hover {
  transform: scale(10);
}

a {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ff0000;
}

font {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

h1 {
  display: block;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

p {
  display: block;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

@media only screen and (max-width: 502px) {
  img.title {
    max-width: 100%;
  }
}