body {
  margin-top: 145px;
  margin-bottom: 70px;
}

div.top {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #000000;
}

div.bottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: #000000;
}

div.tag_block {
  display: inline-grid;
  width: fit-content;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width:500px;
  max-height:500px;
  transition: transform 1200s ease;
}

img:hover {
  transform: scale(10);
}

font {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a.tag {
  padding: 500 auto;
  color: #ff0000;
  text-decoration: none;
  /* animation: scale-up-center 1s ease-out; */
  transition: ease-in-out .5s;
}

a.tag:hover {
  color: #ffffff;
}

div.tags {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 502px) {
  img.title {
    max-width: 100%;
  }
}