<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}Onani</title>
  <link href="/favicon.ico" rel="icon">
  <!-- META -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" name="viewport">
  {% block meta %}
  {% endblock %}
  <!-- STYLES -->
  <link rel="stylesheet" href="/css/onani.style.min.css">
  <link rel="stylesheet" href="/css/icomoon.style.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost&display=swap">
  {% block styles %}
  {% endblock %}
  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
  {% block top_scripts %}
  {% endblock %}
</head>

<body {% block bodymodifier %}{% endblock %}>
  <!-- Navbar/header -->
  <header class="navbar" {% block headermodifier %}{% endblock %}>
    <!-- logo -->
    <div id="logo" onclick="location.href='/'">Onani</div>
    <!-- Navbar links -->
    <a href="/">Posts</a>
    <a href="/collections">Collections</a>
    <a href="/upload">Upload</a>
    <!-- Search Box -->
    <div id="search-box">
      <form id="search-form">
        <input id="search-input" type="text" placeholder="Search" spellcheck="false" autocapitalize="off">
        <img src="/svg/search.svg" id="search-icon">
      </form>
    </div>
    <!-- User Profile Picture -->
    {% if current_user.is_authenticated %}
    <div id="user-pfp-container">
      <div class="dropdown">
        <img id="user-pfp" src="{{ current_user.settings.profile_pic }}?t={{ time.time()|int }}"
          alt="{{ current_user.username }}">
        <div class="dropdown-content">
          <a href="/users/{{ current_user.id }}">Profile</a>
          <a onclick="if(confirm('Are you sure you want to logout?')) {location.href='/logout'}">Logout</a>
        </div>
      </div>

    </div>
    {% else %}
    <div id="login-register-buttons">
      <a id="register-user-button" href="/register">Register</a>
      <a id="login-user-button" href="/login">Login</a>
    </div>
    {% endif %}
  </header>
  {% block content %}
  {% endblock %}
  {% block bottom_scripts %}
  {% endblock %}
</body>

</html>